.theme-light {
  --color-background-canvas: rgb(255, 255, 255);
  --color-background-neutral-default: rgb(255, 255, 255);
  --color-background-neutral-hover: rgb(248, 248, 249);
  --color-background-neutral-weak: rgb(248, 248, 249);
  --color-background-neutral-medium: rgb(238, 238, 240);
  --color-background-neutral-strong: rgb(40, 40, 43);
  --color-background-success-default: rgb(241, 252, 241);
  --color-background-danger-default: rgb(254, 242, 242);
  --color-background-warning-default: rgb(255, 251, 235);
  --color-background-info-default: rgb(240, 249, 255);
  --color-background-action-strong: rgb(244, 63, 133);
  --color-background-action-strong-hover: rgb(215, 37, 109);
  --color-background-action-strong-active: rgb(181, 22, 91);
  --color-background-action-strong-disabled: rgba(244,63,133, 0.5);
  --color-background-action-medium: rgb(255, 255, 255);
  --color-background-action-medium-hover: rgb(248, 248, 249);
  --color-background-action-medium-active: rgb(255, 240, 245);
  --color-background-action-weak-hover: rgb(248, 248, 249);
  --color-background-action-weak-active: rgb(255, 240, 245);
  --color-background-decorative-amber-strong: rgb(245, 158, 11);
  --color-background-decorative-amber-weak: rgb(255, 251, 235);
  --color-background-decorative-orange-strong: rgb(249, 115, 22);
  --color-background-decorative-orange-weak: rgb(255, 247, 237);
  --color-background-decorative-lime-strong: rgb(132, 204, 22);
  --color-background-decorative-lime-weak: rgb(247, 253, 232);
  --color-background-decorative-green-strong: rgb(38, 193, 43);
  --color-background-decorative-green-weak: rgb(241, 252, 241);
  --color-background-decorative-emerald-strong: rgb(16, 185, 129);
  --color-background-decorative-emerald-weak: rgb(238, 252, 245);
  --color-background-decorative-teal-strong: rgb(20, 184, 166);
  --color-background-decorative-teal-weak: rgb(237, 252, 249);
  --color-background-decorative-cyan-strong: rgb(6, 182, 212);
  --color-background-decorative-cyan-weak: rgb(237, 253, 254);
  --color-background-decorative-light-blue-strong: rgb(14, 165, 233);
  --color-background-decorative-light-blue-weak: rgb(240, 249, 255);
  --color-background-decorative-blue-strong: rgb(59, 130, 246);
  --color-background-decorative-blue-weak: rgb(239, 246, 255);
  --color-background-decorative-indigo-strong: rgb(99, 102, 241);
  --color-background-decorative-indigo-weak: rgb(238, 242, 255);
  --color-background-decorative-violet-strong: rgb(139, 92, 246);
  --color-background-decorative-violet-weak: rgb(245, 243, 255);
  --color-background-decorative-purple-strong: rgb(168, 85, 247);
  --color-background-decorative-purple-weak: rgb(250, 245, 255);
  --color-background-decorative-fuchsia-strong: rgb(217, 70, 239);
  --color-background-decorative-fuchsia-weak: rgb(253, 244, 255);
  --color-background-decorative-yellow-strong: rgb(234, 179, 8);
  --color-background-decorative-yellow-weak: rgb(254, 252, 232);
  --color-background-decorative-zinc-strong: rgb(113, 113, 122);
  --color-background-decorative-zinc-weak: rgb(248, 248, 249);
  --color-background-decorative-cerise-strong: rgb(236, 72, 153);
  --color-background-decorative-cerise-weak: rgb(253, 242, 248);
  --color-background-decorative-rose-strong: rgb(244, 63, 94);
  --color-background-decorative-rose-weak: rgb(255, 241, 242);
  --color-border-neutral-default: rgb(238, 238, 240);
  --color-border-neutral-medium: rgb(228, 228, 231);
  --color-border-success-default: rgba(52,53,58, 0.05);
  --color-border-danger-default: rgba(52,53,58, 0.05);
  --color-border-warning-default: rgba(52,53,58, 0.05);
  --color-border-info-default: rgba(52,53,58, 0.05);
  --color-border-action-medium: rgb(228, 228, 231);
  --color-border-action-medium-active: rgba(0,0,0, 0.05);
  --color-border-action-strong: linear-gradient(180deg, rgba(0,0,0, 0.02) 2%, rgba(0,0,0, 0.10) 100%);
  --color-text-neutral-default: rgb(52, 53, 58);
  --color-text-neutral-weak: rgb(178, 179, 185);
  --color-text-neutral-medium: rgb(113, 113, 122);
  --color-text-success-default: rgb(52, 53, 58);
  --color-text-danger-default: rgb(52, 53, 58);
  --color-text-warning-default: rgb(52, 53, 58);
  --color-text-info-default: rgb(52, 53, 58);
  --color-text-decorative-amber-default: rgb(245, 158, 11);
  --color-text-decorative-amber-weak: rgb(120, 53, 15);
  --color-text-decorative-amber-strong: rgb(255, 255, 255);
  --color-text-decorative-orange-default: rgb(249, 115, 22);
  --color-text-decorative-orange-weak: rgb(124, 45, 18);
  --color-text-decorative-orange-strong: rgb(255, 255, 255);
  --color-text-decorative-fuchsia-default: rgb(217, 70, 239);
  --color-text-decorative-fuchsia-weak: rgb(112, 26, 117);
  --color-text-decorative-fuchsia-strong: rgb(255, 255, 255);
  --color-text-decorative-purple-default: rgb(168, 85, 247);
  --color-text-decorative-purple-weak: rgb(88, 28, 135);
  --color-text-decorative-purple-strong: rgb(255, 255, 255);
  --color-text-decorative-violet-default: rgb(139, 92, 246);
  --color-text-decorative-violet-weak: rgb(76, 29, 149);
  --color-text-decorative-violet-strong: rgb(255, 255, 255);
  --color-text-decorative-indigo-default: rgb(99, 102, 241);
  --color-text-decorative-indigo-weak: rgb(49, 46, 129);
  --color-text-decorative-indigo-strong: rgb(255, 255, 255);
  --color-text-decorative-blue-default: rgb(59, 130, 246);
  --color-text-decorative-blue-weak: rgb(30, 58, 138);
  --color-text-decorative-blue-strong: rgb(255, 255, 255);
  --color-text-decorative-light-blue-default: rgb(14, 165, 233);
  --color-text-decorative-light-blue-weak: rgb(12, 74, 110);
  --color-text-decorative-light-blue-strong: rgb(255, 255, 255);
  --color-text-decorative-cyan-default: rgb(6, 182, 212);
  --color-text-decorative-cyan-weak: rgb(22, 78, 99);
  --color-text-decorative-cyan-strong: rgb(255, 255, 255);
  --color-text-decorative-teal-default: rgb(20, 184, 166);
  --color-text-decorative-teal-weak: rgb(19, 78, 74);
  --color-text-decorative-teal-strong: rgb(255, 255, 255);
  --color-text-decorative-emerald-default: rgb(16, 185, 129);
  --color-text-decorative-emerald-weak: rgb(6, 78, 59);
  --color-text-decorative-emerald-strong: rgb(255, 255, 255);
  --color-text-decorative-green-default: rgb(38, 193, 43);
  --color-text-decorative-green-weak: rgb(20, 83, 24);
  --color-text-decorative-green-strong: rgb(255, 255, 255);
  --color-text-decorative-lime-default: rgb(132, 204, 22);
  --color-text-decorative-lime-weak: rgb(54, 83, 20);
  --color-text-decorative-lime-strong: rgb(255, 255, 255);
  --color-text-decorative-cerise-default: rgb(236, 72, 153);
  --color-text-decorative-cerise-weak: rgb(131, 24, 67);
  --color-text-decorative-cerise-strong: rgb(255, 255, 255);
  --color-text-decorative-yellow-default: rgb(234, 179, 8);
  --color-text-decorative-yellow-weak: rgb(113, 63, 18);
  --color-text-decorative-yellow-strong: rgb(255, 255, 255);
  --color-text-decorative-zinc-default: rgb(113, 113, 122);
  --color-text-decorative-zinc-weak: rgb(28, 28, 30);
  --color-text-decorative-zinc-strong: rgb(255, 255, 255);
  --color-text-decorative-rose-default: rgb(244, 63, 94);
  --color-text-decorative-rose-weak: rgb(136, 19, 55);
  --color-text-decorative-rose-strong: rgb(255, 255, 255);
  --color-text-action-strong: rgb(255, 255, 255);
  --color-text-action-default: rgb(244, 63, 133);
  --color-text-action-default-active: rgb(244, 63, 133);
  --color-text-action-weak: rgb(52, 53, 58);
  --color-text-action-medium: rgb(52, 53, 58);
  --color-icon-neutral-default: rgb(87, 89, 95);
  --color-icon-neutral-weak: rgb(178, 179, 185);
  --color-icon-success-default: rgb(22, 163, 27);
  --color-icon-danger-default: rgb(220, 38, 38);
  --color-icon-warning-default: rgb(217, 119, 6);
  --color-icon-info-default: rgb(2, 132, 199);
  --color-icon-decorative-amber-default: rgb(245, 158, 11);
  --color-icon-decorative-amber-weak: rgb(120, 53, 15);
  --color-icon-decorative-amber-strong: rgb(255, 255, 255);
  --color-icon-decorative-fuchsia-default: rgb(217, 70, 239);
  --color-icon-decorative-fuchsia-weak: rgb(112, 26, 117);
  --color-icon-decorative-fuchsia-strong: rgb(255, 255, 255);
  --color-icon-decorative-purple-default: rgb(168, 85, 247);
  --color-icon-decorative-purple-weak: rgb(88, 28, 135);
  --color-icon-decorative-purple-strong: rgb(255, 255, 255);
  --color-icon-decorative-violet-default: rgb(139, 92, 246);
  --color-icon-decorative-violet-weak: rgb(76, 29, 149);
  --color-icon-decorative-violet-strong: rgb(255, 255, 255);
  --color-icon-decorative-indigo-default: rgb(99, 102, 241);
  --color-icon-decorative-indigo-weak: rgb(49, 46, 129);
  --color-icon-decorative-indigo-strong: rgb(255, 255, 255);
  --color-icon-decorative-blue-default: rgb(59, 130, 246);
  --color-icon-decorative-blue-weak: rgb(30, 58, 138);
  --color-icon-decorative-blue-strong: rgb(255, 255, 255);
  --color-icon-decorative-light-blue-default: rgb(14, 165, 233);
  --color-icon-decorative-light-blue-weak: rgb(12, 74, 110);
  --color-icon-decorative-light-blue-strong: rgb(255, 255, 255);
  --color-icon-decorative-cyan-default: rgb(6, 182, 212);
  --color-icon-decorative-cyan-weak: rgb(22, 78, 99);
  --color-icon-decorative-cyan-strong: rgb(255, 255, 255);
  --color-icon-decorative-teal-default: rgb(20, 184, 166);
  --color-icon-decorative-teal-weak: rgb(19, 78, 74);
  --color-icon-decorative-teal-strong: rgb(255, 255, 255);
  --color-icon-decorative-emerald-default: rgb(16, 185, 129);
  --color-icon-decorative-emerald-weak: rgb(6, 78, 59);
  --color-icon-decorative-emerald-strong: rgb(255, 255, 255);
  --color-icon-decorative-green-default: rgb(38, 193, 43);
  --color-icon-decorative-green-weak: rgb(20, 83, 24);
  --color-icon-decorative-green-strong: rgb(255, 255, 255);
  --color-icon-decorative-lime-default: rgb(38, 193, 43);
  --color-icon-decorative-lime-weak: rgb(54, 83, 20);
  --color-icon-decorative-lime-strong: rgb(255, 255, 255);
  --color-icon-decorative-orange-default: rgb(249, 115, 22);
  --color-icon-decorative-orange-weak: rgb(124, 45, 18);
  --color-icon-decorative-orange-strong: rgb(255, 255, 255);
  --color-icon-decorative-cerise-default: rgb(236, 72, 153);
  --color-icon-decorative-cerise-weak: rgb(131, 24, 67);
  --color-icon-decorative-cerise-strong: rgb(255, 255, 255);
  --color-icon-decorative-yellow-default: rgb(234, 179, 8);
  --color-icon-decorative-yellow-weak: rgb(113, 63, 18);
  --color-icon-decorative-yellow-strong: rgb(255, 255, 255);
  --color-icon-decorative-zinc-default: rgb(113, 113, 122);
  --color-icon-decorative-zinc-weak: rgb(28, 28, 30);
  --color-icon-decorative-zinc-strong: rgb(255, 255, 255);
  --color-icon-decorative-rose-default: rgb(244, 63, 94);
  --color-icon-decorative-rose-weak: rgb(136, 19, 55);
  --color-icon-decorative-rose-strong: rgb(255, 255, 255);
}