.theme-dark {
  --color-background-canvas: rgb(40, 40, 43);
  --color-background-neutral-default: rgb(63, 63, 70);
  --color-background-neutral-hover: rgb(87, 89, 95);
  --color-background-neutral-weak: rgb(87, 89, 95);
  --color-background-neutral-medium: rgb(113, 113, 122);
  --color-background-neutral-strong: rgb(28, 28, 30);
  --color-background-success-default: rgb(12, 49, 14);
  --color-background-success-strong: rgb(22, 101, 26);
  --color-background-danger-default: rgb(79, 18, 18);
  --color-background-danger-strong: rgb(153, 27, 27);
  --color-background-warning-default: rgb(73, 32, 9);
  --color-background-warning-strong: rgb(146, 64, 14);
  --color-background-info-default: rgb(9, 53, 78);
  --color-background-info-strong: rgb(7, 89, 133);
  --color-background-action-strong: rgb(244, 63, 133);
  --color-background-action-strong-hover: rgb(215, 37, 109);
  --color-background-action-strong-active: rgb(181, 22, 91);
  --color-background-action-strong-disabled: rgba(244,63,133, 0.5);
  --color-background-action-medium: rgb(255, 255, 255);
  --color-background-action-medium-hover: rgb(248, 248, 249);
  --color-background-action-medium-active: rgb(255, 240, 245);
  --color-background-action-weak-hover: rgb(248, 248, 249);
  --color-background-action-weak-active: rgb(255, 240, 245);
  --color-background-decorative-amber-default: rgb(255, 251, 235);
  --color-background-decorative-amber-weak: rgb(254, 243, 199);
  --color-background-decorative-amber-medium: rgb(254, 243, 199);
  --color-background-decorative-amber-strong: rgb(146, 64, 14);
  --color-background-decorative-orange-default: rgb(255, 247, 237);
  --color-background-decorative-orange-weak: rgb(255, 237, 213);
  --color-background-decorative-orange-medium: rgb(255, 237, 213);
  --color-background-decorative-orange-strong: rgb(154, 52, 18);
  --color-background-decorative-lime-default: rgb(247, 253, 232);
  --color-background-decorative-lime-weak: rgb(235, 249, 206);
  --color-background-decorative-lime-medium: rgb(235, 249, 206);
  --color-background-decorative-lime-strong: rgb(63, 98, 18);
  --color-background-decorative-green-default: rgb(241, 252, 241);
  --color-background-decorative-green-weak: rgb(222, 250, 222);
  --color-background-decorative-green-medium: rgb(222, 250, 222);
  --color-background-decorative-green-strong: rgb(22, 101, 26);
  --color-background-decorative-emerald-default: rgb(238, 252, 245);
  --color-background-decorative-emerald-weak: rgb(212, 247, 229);
  --color-background-decorative-emerald-medium: rgb(212, 247, 229);
  --color-background-decorative-emerald-strong: rgb(6, 95, 70);
  --color-background-decorative-teal-default: rgb(237, 252, 249);
  --color-background-decorative-teal-weak: rgb(215, 249, 242);
  --color-background-decorative-teal-medium: rgb(215, 249, 242);
  --color-background-decorative-teal-strong: rgb(17, 94, 89);
  --color-background-decorative-cyan-default: rgb(237, 253, 254);
  --color-background-decorative-cyan-weak: rgb(217, 249, 252);
  --color-background-decorative-cyan-medium: rgb(217, 249, 252);
  --color-background-decorative-cyan-strong: rgb(21, 94, 117);
  --color-background-decorative-light-blue-default: rgb(240, 249, 255);
  --color-background-decorative-light-blue-weak: rgb(220, 242, 254);
  --color-background-decorative-light-blue-medium: rgb(220, 242, 254);
  --color-background-decorative-light-blue-strong: rgb(7, 89, 133);
  --color-background-decorative-blue-default: rgb(239, 246, 255);
  --color-background-decorative-blue-weak: rgb(219, 234, 254);
  --color-background-decorative-blue-medium: rgb(219, 234, 254);
  --color-background-decorative-blue-strong: rgb(30, 64, 175);
  --color-background-decorative-indigo-default: rgb(238, 242, 255);
  --color-background-decorative-indigo-weak: rgb(224, 231, 255);
  --color-background-decorative-indigo-medium: rgb(224, 231, 255);
  --color-background-decorative-indigo-strong: rgb(55, 48, 163);
  --color-background-decorative-violet-default: rgb(245, 243, 255);
  --color-background-decorative-violet-weak: rgb(237, 233, 254);
  --color-background-decorative-violet-medium: rgb(237, 233, 254);
  --color-background-decorative-violet-strong: rgb(91, 33, 182);
  --color-background-decorative-purple-default: rgb(250, 245, 255);
  --color-background-decorative-purple-weak: rgb(243, 232, 255);
  --color-background-decorative-purple-medium: rgb(243, 232, 255);
  --color-background-decorative-purple-strong: rgb(107, 33, 168);
  --color-background-decorative-fuchsia-default: rgb(253, 244, 255);
  --color-background-decorative-fuchsia-weak: rgb(250, 232, 255);
  --color-background-decorative-fuchsia-medium: rgb(250, 232, 255);
  --color-background-decorative-fuchsia-strong: rgb(134, 25, 143);
  --color-background-decorative-yellow-default: rgb(254, 252, 232);
  --color-background-decorative-yellow-weak: rgb(254, 249, 195);
  --color-background-decorative-yellow-medium: rgb(254, 249, 195);
  --color-background-decorative-yellow-strong: rgb(133, 77, 14);
  --color-background-decorative-zinc-default: rgb(248, 248, 249);
  --color-background-decorative-zinc-weak: rgb(244, 244, 245);
  --color-background-decorative-zinc-medium: rgb(244, 244, 245);
  --color-background-decorative-zinc-strong: rgb(40, 40, 43);
  --color-background-decorative-cerise-default: rgb(253, 242, 248);
  --color-background-decorative-cerise-weak: rgb(252, 231, 243);
  --color-background-decorative-cerise-medium: rgb(252, 231, 243);
  --color-background-decorative-cerise-strong: rgb(157, 23, 77);
  --color-background-decorative-rose-default: rgb(255, 241, 242);
  --color-background-decorative-rose-weak: rgb(255, 228, 230);
  --color-background-decorative-rose-medium: rgb(255, 228, 230);
  --color-background-decorative-rose-strong: rgb(159, 18, 57);
  --color-border-neutral-default: rgba(255,255,255, 0.06);
  --color-border-neutral-medium: rgba(255,255,255, 0.11);
  --color-border-neutral-strong: rgba(255,255,255, 0.2);
  --color-border-success-default: rgba(52,53,58, 0.05);
  --color-border-danger-default: rgba(52,53,58, 0.05);
  --color-border-warning-default: rgba(52,53,58, 0.05);
  --color-border-info-default: rgba(52,53,58, 0.05);
  --color-border-action-medium: rgb(228, 228, 231);
  --color-border-action-medium-active: rgba(0,0,0, 0.05);
  --color-border-action-strong: linear-gradient(180deg, rgba(0,0,0, 0.02) 2%, rgba(0,0,0, 0.10) 100%);
  --color-border-decorative-amber-medium: rgb(146, 64, 14);
  --color-border-decorative-orange-medium: rgb(154, 52, 18);
  --color-border-decorative-lime-medium: rgb(63, 98, 18);
  --color-border-decorative-green-medium: rgb(22, 101, 26);
  --color-border-decorative-emerald-medium: rgb(6, 95, 70);
  --color-border-decorative-teal-medium: rgb(17, 94, 89);
  --color-border-decorative-cyan-medium: rgb(21, 94, 117);
  --color-border-decorative-light-blue-medium: rgb(7, 89, 133);
  --color-border-decorative-blue-medium: rgb(30, 64, 175);
  --color-border-decorative-indigo-medium: rgb(55, 48, 163);
  --color-border-decorative-violet-medium: rgb(91, 33, 182);
  --color-border-decorative-purple-medium: rgb(107, 33, 168);
  --color-border-decorative-fuchsia-medium: rgb(134, 25, 143);
  --color-border-decorative-yellow-medium: rgb(133, 77, 14);
  --color-border-decorative-zinc-medium: rgb(40, 40, 43);
  --color-border-decorative-cerise-medium: rgb(157, 23, 77);
  --color-border-decorative-rose-medium: rgb(159, 18, 57);
  --color-text-neutral-default: rgb(244, 244, 245);
  --color-text-neutral-weak: rgb(113, 113, 122);
  --color-text-neutral-medium: rgb(178, 179, 185);
  --color-text-action-strong: rgb(255, 255, 255);
  --color-text-action-default: rgb(244, 63, 133);
  --color-text-action-default-active: rgb(244, 63, 133);
  --color-text-action-weak: rgb(52, 53, 58);
  --color-text-action-medium: rgb(52, 53, 58);
  --color-text-action-weak-active: rgb(244, 63, 133);
  --color-text-success-default: rgb(248, 248, 249);
  --color-text-danger-default: rgb(248, 248, 249);
  --color-text-warning-default: rgb(248, 248, 249);
  --color-text-info-default: rgb(248, 248, 249);
  --color-text-decorative-amber-default: rgb(217, 119, 6);
  --color-text-decorative-amber-weak: rgb(146, 64, 14);
  --color-text-decorative-amber-medium: rgb(255, 255, 255);
  --color-text-decorative-amber-strong: rgb(255, 255, 255);
  --color-text-decorative-orange-default: rgb(234, 88, 12);
  --color-text-decorative-orange-weak: rgb(154, 52, 18);
  --color-text-decorative-orange-medium: rgb(255, 255, 255);
  --color-text-decorative-orange-strong: rgb(255, 255, 255);
  --color-text-decorative-fuchsia-default: rgb(192, 38, 211);
  --color-text-decorative-fuchsia-weak: rgb(134, 25, 143);
  --color-text-decorative-fuchsia-medium: rgb(255, 255, 255);
  --color-text-decorative-fuchsia-strong: rgb(255, 255, 255);
  --color-text-decorative-purple-default: rgb(147, 51, 234);
  --color-text-decorative-purple-weak: rgb(107, 33, 168);
  --color-text-decorative-purple-medium: rgb(255, 255, 255);
  --color-text-decorative-purple-strong: rgb(255, 255, 255);
  --color-text-decorative-violet-default: rgb(124, 58, 237);
  --color-text-decorative-violet-weak: rgb(91, 33, 182);
  --color-text-decorative-violet-medium: rgb(255, 255, 255);
  --color-text-decorative-violet-strong: rgb(255, 255, 255);
  --color-text-decorative-indigo-default: rgb(79, 70, 229);
  --color-text-decorative-indigo-weak: rgb(55, 48, 163);
  --color-text-decorative-indigo-medium: rgb(255, 255, 255);
  --color-text-decorative-indigo-strong: rgb(255, 255, 255);
  --color-text-decorative-blue-default: rgb(37, 99, 235);
  --color-text-decorative-blue-weak: rgb(30, 64, 175);
  --color-text-decorative-blue-medium: rgb(255, 255, 255);
  --color-text-decorative-blue-strong: rgb(255, 255, 255);
  --color-text-decorative-light-blue-default: rgb(2, 132, 199);
  --color-text-decorative-light-blue-weak: rgb(7, 89, 133);
  --color-text-decorative-light-blue-medium: rgb(255, 255, 255);
  --color-text-decorative-light-blue-strong: rgb(255, 255, 255);
  --color-text-decorative-cyan-default: rgb(8, 145, 178);
  --color-text-decorative-cyan-weak: rgb(21, 94, 117);
  --color-text-decorative-cyan-medium: rgb(255, 255, 255);
  --color-text-decorative-cyan-strong: rgb(255, 255, 255);
  --color-text-decorative-teal-default: rgb(13, 148, 136);
  --color-text-decorative-teal-weak: rgb(17, 94, 89);
  --color-text-decorative-teal-medium: rgb(255, 255, 255);
  --color-text-decorative-teal-strong: rgb(255, 255, 255);
  --color-text-decorative-emerald-default: rgb(5, 150, 105);
  --color-text-decorative-emerald-weak: rgb(6, 95, 70);
  --color-text-decorative-emerald-medium: rgb(255, 255, 255);
  --color-text-decorative-emerald-strong: rgb(255, 255, 255);
  --color-text-decorative-green-default: rgb(22, 163, 27);
  --color-text-decorative-green-weak: rgb(22, 101, 26);
  --color-text-decorative-green-medium: rgb(255, 255, 255);
  --color-text-decorative-green-strong: rgb(255, 255, 255);
  --color-text-decorative-lime-default: rgb(101, 163, 13);
  --color-text-decorative-lime-weak: rgb(63, 98, 18);
  --color-text-decorative-lime-medium: rgb(255, 255, 255);
  --color-text-decorative-lime-strong: rgb(255, 255, 255);
  --color-text-decorative-cerise-default: rgb(219, 39, 119);
  --color-text-decorative-cerise-weak: rgb(157, 23, 77);
  --color-text-decorative-cerise-medium: rgb(255, 255, 255);
  --color-text-decorative-cerise-strong: rgb(255, 255, 255);
  --color-text-decorative-yellow-default: rgb(202, 138, 4);
  --color-text-decorative-yellow-weak: rgb(133, 77, 14);
  --color-text-decorative-yellow-medium: rgb(255, 255, 255);
  --color-text-decorative-yellow-strong: rgb(255, 255, 255);
  --color-text-decorative-zinc-default: rgb(87, 89, 95);
  --color-text-decorative-zinc-weak: rgb(40, 40, 43);
  --color-text-decorative-zinc-medium: rgb(255, 255, 255);
  --color-text-decorative-zinc-strong: rgb(255, 255, 255);
  --color-text-decorative-rose-default: rgb(225, 29, 72);
  --color-text-decorative-rose-weak: rgb(159, 18, 57);
  --color-text-decorative-rose-medium: rgb(255, 255, 255);
  --color-text-decorative-rose-strong: rgb(255, 255, 255);
  --color-icon-neutral-default: rgb(178, 179, 185);
  --color-icon-neutral-weak: rgb(113, 113, 122);
  --color-icon-success-default: rgb(22, 163, 27);
  --color-icon-success-strong: rgb(255, 255, 255);
  --color-icon-danger-default: rgb(220, 38, 38);
  --color-icon-danger-strong: rgb(255, 255, 255);
  --color-icon-warning-default: rgb(217, 119, 6);
  --color-icon-warning-strong: rgb(255, 255, 255);
  --color-icon-info-default: rgb(2, 132, 199);
  --color-icon-info-strong: rgb(255, 255, 255);
  --color-icon-decorative-amber-default: rgb(217, 119, 6);
  --color-icon-decorative-amber-weak: rgb(146, 64, 14);
  --color-icon-decorative-amber-medium: rgb(255, 255, 255);
  --color-icon-decorative-amber-strong: rgb(255, 255, 255);
  --color-icon-decorative-orange-default: rgb(234, 88, 12);
  --color-icon-decorative-orange-weak: rgb(154, 52, 18);
  --color-icon-decorative-orange-medium: rgb(255, 255, 255);
  --color-icon-decorative-orange-strong: rgb(255, 255, 255);
  --color-icon-decorative-fuchsia-default: rgb(192, 38, 211);
  --color-icon-decorative-fuchsia-weak: rgb(134, 25, 143);
  --color-icon-decorative-fuchsia-medium: rgb(255, 255, 255);
  --color-icon-decorative-fuchsia-strong: rgb(255, 255, 255);
  --color-icon-decorative-purple-default: rgb(147, 51, 234);
  --color-icon-decorative-purple-weak: rgb(107, 33, 168);
  --color-icon-decorative-purple-medium: rgb(255, 255, 255);
  --color-icon-decorative-purple-strong: rgb(255, 255, 255);
  --color-icon-decorative-violet-default: rgb(124, 58, 237);
  --color-icon-decorative-violet-weak: rgb(91, 33, 182);
  --color-icon-decorative-violet-medium: rgb(255, 255, 255);
  --color-icon-decorative-violet-strong: rgb(255, 255, 255);
  --color-icon-decorative-indigo-default: rgb(79, 70, 229);
  --color-icon-decorative-indigo-weak: rgb(55, 48, 163);
  --color-icon-decorative-indigo-medium: rgb(255, 255, 255);
  --color-icon-decorative-indigo-strong: rgb(255, 255, 255);
  --color-icon-decorative-blue-default: rgb(37, 99, 235);
  --color-icon-decorative-blue-weak: rgb(30, 64, 175);
  --color-icon-decorative-blue-medium: rgb(255, 255, 255);
  --color-icon-decorative-blue-strong: rgb(255, 255, 255);
  --color-icon-decorative-light-blue-default: rgb(2, 132, 199);
  --color-icon-decorative-light-blue-weak: rgb(7, 89, 133);
  --color-icon-decorative-light-blue-medium: rgb(255, 255, 255);
  --color-icon-decorative-light-blue-strong: rgb(255, 255, 255);
  --color-icon-decorative-cyan-default: rgb(8, 145, 178);
  --color-icon-decorative-cyan-weak: rgb(21, 94, 117);
  --color-icon-decorative-cyan-medium: rgb(255, 255, 255);
  --color-icon-decorative-cyan-strong: rgb(255, 255, 255);
  --color-icon-decorative-teal-default: rgb(13, 148, 136);
  --color-icon-decorative-teal-weak: rgb(17, 94, 89);
  --color-icon-decorative-teal-medium: rgb(255, 255, 255);
  --color-icon-decorative-teal-strong: rgb(255, 255, 255);
  --color-icon-decorative-emerald-default: rgb(5, 150, 105);
  --color-icon-decorative-emerald-weak: rgb(6, 95, 70);
  --color-icon-decorative-emerald-medium: rgb(255, 255, 255);
  --color-icon-decorative-emerald-strong: rgb(255, 255, 255);
  --color-icon-decorative-green-default: rgb(22, 163, 27);
  --color-icon-decorative-green-weak: rgb(22, 101, 26);
  --color-icon-decorative-green-medium: rgb(255, 255, 255);
  --color-icon-decorative-green-strong: rgb(255, 255, 255);
  --color-icon-decorative-lime-default: rgb(101, 163, 13);
  --color-icon-decorative-lime-weak: rgb(63, 98, 18);
  --color-icon-decorative-lime-medium: rgb(255, 255, 255);
  --color-icon-decorative-lime-strong: rgb(255, 255, 255);
  --color-icon-decorative-cerise-default: rgb(219, 39, 119);
  --color-icon-decorative-cerise-weak: rgb(157, 23, 77);
  --color-icon-decorative-cerise-medium: rgb(255, 255, 255);
  --color-icon-decorative-cerise-strong: rgb(255, 255, 255);
  --color-icon-decorative-yellow-default: rgb(202, 138, 4);
  --color-icon-decorative-yellow-weak: rgb(133, 77, 14);
  --color-icon-decorative-yellow-medium: rgb(255, 255, 255);
  --color-icon-decorative-yellow-strong: rgb(255, 255, 255);
  --color-icon-decorative-zinc-default: rgb(87, 89, 95);
  --color-icon-decorative-zinc-weak: rgb(40, 40, 43);
  --color-icon-decorative-zinc-medium: rgb(255, 255, 255);
  --color-icon-decorative-zinc-strong: rgb(255, 255, 255);
  --color-icon-decorative-rose-default: rgb(225, 29, 72);
  --color-icon-decorative-rose-weak: rgb(159, 18, 57);
  --color-icon-decorative-rose-medium: rgb(255, 255, 255);
  --color-icon-decorative-rose-strong: rgb(255, 255, 255);
}