:root {
  --color-black: #000;
  --color-white: #fff;
  --color-zinc-50: oklch(98.5% 0 0);
  --color-zinc-100: oklch(96.7% 0.001 286.375);
  --color-zinc-150: oklch(95.0% 0.003 286.349);
  --color-zinc-200: oklch(92% 0.004 286.32);
  --color-zinc-250: oklch(90.1% 0.004 271.366);
  --color-zinc-300: oklch(87.1% 0.006 286.286);
  --color-zinc-350: oklch(76.8% 0.009 278.595);
  --color-zinc-400: oklch(70.5% 0.015 286.067);
  --color-zinc-450: oklch(65.5% 0.007 286.196);
  --color-zinc-500: oklch(55.2% 0.016 285.938);
  --color-zinc-600: oklch(46.4% 0.010 271.198);
  --color-zinc-700: oklch(37% 0.013 285.805);
  --color-zinc-750: oklch(33.0% 0.009 276.875);
  --color-zinc-800: oklch(27.4% 0.006 286.033);
  --color-zinc-900: oklch(22.7% 0.004 286.09);
  --color-zinc-1000: oklch(16.9% 0.002 286.177);
  --color-pink-50: oklch(97.1% 0.014 343.198);
  --color-pink-100: oklch(94.5% 0.031 354.723);
  --color-pink-200: oklch(88.5% 0.068 355.265);
  --color-pink-300: oklch(81.8% 0.114 357.260);
  --color-pink-400: oklch(73.3% 0.175 359.570);
  --color-pink-500: oklch(65.4% 0.221 2.378);
  --color-pink-600: oklch(58.1% 0.214 3.500);
  --color-pink-700: oklch(50.7% 0.193 2.713);
  --color-pink-800: oklch(42.6% 0.162 0.587);
  --color-pink-900: oklch(34.2% 0.125 357.168);
  --color-pink-1000: oklch(23.9% 0.082 354.750);
  --color-rose-50: oklch(96.9% 0.015 12.422);
  --color-rose-100: oklch(94.1% 0.03 12.58);
  --color-rose-200: oklch(89.2% 0.058 10.001);
  --color-rose-300: oklch(81% 0.117 11.638);
  --color-rose-400: oklch(71.2% 0.194 13.428);
  --color-rose-500: oklch(64.5% 0.246 16.439);
  --color-rose-600: oklch(58.6% 0.253 17.585);
  --color-rose-700: oklch(51.4% 0.222 16.935);
  --color-rose-800: oklch(45.5% 0.188 13.697);
  --color-rose-900: oklch(41% 0.159 10.272);
  --color-rose-1000: oklch(25.6% 0.087 7.900);
  --color-cerise-50: oklch(97.1% 0.014 343.198);
  --color-cerise-100: oklch(94.8% 0.028 342.258);
  --color-cerise-200: oklch(89.9% 0.061 343.231);
  --color-cerise-300: oklch(82.3% 0.12 346.018);
  --color-cerise-400: oklch(71.8% 0.202 349.761);
  --color-cerise-500: oklch(65.6% 0.241 354.308);
  --color-cerise-600: oklch(59.2% 0.249 0.584);
  --color-cerise-700: oklch(52.5% 0.223 3.958);
  --color-cerise-800: oklch(45.9% 0.187 3.815);
  --color-cerise-900: oklch(40.8% 0.153 2.432);
  --color-cerise-1000: oklch(27.6% 0.092 1.165);
  --color-fuchsia-50: oklch(97.7% 0.017 320.058);
  --color-fuchsia-100: oklch(95.2% 0.037 318.852);
  --color-fuchsia-200: oklch(90.3% 0.076 319.62);
  --color-fuchsia-300: oklch(83.3% 0.145 321.434);
  --color-fuchsia-400: oklch(74% 0.238 322.16);
  --color-fuchsia-500: oklch(66.7% 0.295 322.15);
  --color-fuchsia-600: oklch(59.1% 0.293 322.896);
  --color-fuchsia-700: oklch(51.8% 0.253 323.949);
  --color-fuchsia-800: oklch(45.2% 0.211 324.591);
  --color-fuchsia-900: oklch(40.1% 0.17 325.612);
  --color-fuchsia-1000: oklch(29.9% 0.113 325.726);
  --color-purple-50: oklch(97.7% 0.014 308.299);
  --color-purple-100: oklch(94.6% 0.033 307.174);
  --color-purple-200: oklch(90.2% 0.063 306.703);
  --color-purple-300: oklch(82.7% 0.119 306.383);
  --color-purple-400: oklch(71.4% 0.203 305.504);
  --color-purple-500: oklch(62.7% 0.265 303.9);
  --color-purple-600: oklch(55.8% 0.288 302.321);
  --color-purple-700: oklch(49.6% 0.265 301.924);
  --color-purple-800: oklch(43.8% 0.218 303.724);
  --color-purple-900: oklch(38.1% 0.176 304.987);
  --color-purple-1000: oklch(28.0% 0.114 305.782);
  --color-violet-50: oklch(96.9% 0.016 293.756);
  --color-violet-100: oklch(94.3% 0.029 294.588);
  --color-violet-200: oklch(89.4% 0.057 293.283);
  --color-violet-300: oklch(81.1% 0.111 293.571);
  --color-violet-400: oklch(70.2% 0.183 293.541);
  --color-violet-500: oklch(60.6% 0.25 292.717);
  --color-violet-600: oklch(54.1% 0.281 293.009);
  --color-violet-700: oklch(49.1% 0.27 292.581);
  --color-violet-800: oklch(43.2% 0.232 292.759);
  --color-violet-900: oklch(38% 0.189 293.745);
  --color-violet-1000: oklch(28.0% 0.125 294.967);
  --color-indigo-50: oklch(96.2% 0.018 272.314);
  --color-indigo-100: oklch(93% 0.034 272.788);
  --color-indigo-200: oklch(87% 0.065 274.039);
  --color-indigo-300: oklch(78.5% 0.115 274.713);
  --color-indigo-400: oklch(67.3% 0.182 276.935);
  --color-indigo-500: oklch(58.5% 0.233 277.117);
  --color-indigo-600: oklch(51.1% 0.262 276.966);
  --color-indigo-700: oklch(45.7% 0.24 277.023);
  --color-indigo-800: oklch(39.8% 0.195 277.366);
  --color-indigo-900: oklch(35.9% 0.144 278.697);
  --color-indigo-1000: oklch(27.0% 0.095 279.515);
  --color-blue-50: oklch(97% 0.014 254.604);
  --color-blue-100: oklch(93.2% 0.032 255.585);
  --color-blue-200: oklch(88.2% 0.059 254.128);
  --color-blue-300: oklch(80.9% 0.105 251.813);
  --color-blue-400: oklch(70.7% 0.165 254.624);
  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-blue-700: oklch(48.8% 0.243 264.376);
  --color-blue-800: oklch(42.4% 0.199 265.638);
  --color-blue-900: oklch(37.9% 0.146 265.522);
  --color-blue-1000: oklch(28.3% 0.095 265.853);
  --color-light-blue-50: oklch(97.7% 0.013 236.62);
  --color-light-blue-100: oklch(95.1% 0.026 236.824);
  --color-light-blue-200: oklch(90.1% 0.058 230.902);
  --color-light-blue-300: oklch(82.8% 0.111 230.318);
  --color-light-blue-400: oklch(74.6% 0.16 232.661);
  --color-light-blue-500: oklch(68.5% 0.169 237.323);
  --color-light-blue-600: oklch(58.8% 0.158 241.966);
  --color-light-blue-700: oklch(50% 0.134 242.749);
  --color-light-blue-800: oklch(44.3% 0.11 240.79);
  --color-light-blue-900: oklch(39.1% 0.09 240.876);
  --color-light-blue-1000: oklch(31.4% 0.064 239.328);
  --color-cyan-50: oklch(98.4% 0.019 200.873);
  --color-cyan-100: oklch(96.0% 0.033 203.507);
  --color-cyan-200: oklch(91.7% 0.078 205.041);
  --color-cyan-300: oklch(86.5% 0.127 207.078);
  --color-cyan-400: oklch(77.5% 0.126 210.122);
  --color-cyan-500: oklch(71.5% 0.143 215.221);
  --color-cyan-600: oklch(60.9% 0.126 221.723);
  --color-cyan-700: oklch(52% 0.105 223.128);
  --color-cyan-800: oklch(45% 0.085 224.283);
  --color-cyan-900: oklch(39.8% 0.07 227.392);
  --color-cyan-1000: oklch(30.9% 0.049 226.249);
  --color-teal-50: oklch(98.4% 0.014 180.72);
  --color-teal-100: oklch(95.6% 0.036 181.707);
  --color-teal-200: oklch(89.5% 0.079 180.857);
  --color-teal-300: oklch(83.5% 0.113 181.775);
  --color-teal-400: oklch(77.7% 0.152 181.912);
  --color-teal-500: oklch(70.4% 0.14 182.503);
  --color-teal-600: oklch(60% 0.118 184.704);
  --color-teal-700: oklch(51.1% 0.096 186.391);
  --color-teal-800: oklch(43.7% 0.078 188.216);
  --color-teal-900: oklch(38.6% 0.063 188.416);
  --color-teal-1000: oklch(28.7% 0.041 190.042);
  --color-emerald-50: oklch(97.9% 0.021 166.113);
  --color-emerald-100: oklch(95% 0.052 163.051);
  --color-emerald-200: oklch(90.5% 0.093 164.15);
  --color-emerald-300: oklch(84.5% 0.143 164.978);
  --color-emerald-400: oklch(76.5% 0.177 163.223);
  --color-emerald-500: oklch(69.6% 0.17 162.48);
  --color-emerald-600: oklch(59.6% 0.145 163.225);
  --color-emerald-700: oklch(50.8% 0.118 165.612);
  --color-emerald-800: oklch(43.2% 0.095 166.913);
  --color-emerald-900: oklch(37.8% 0.077 168.94);
  --color-emerald-1000: oklch(27.3% 0.050 171.234);
  --color-green-50: oklch(98.2% 0.018 155.826);
  --color-green-100: oklch(95.7% 0.047 145.194);
  --color-green-200: oklch(91.5% 0.087 145.308);
  --color-green-300: oklch(85.2% 0.149 144.846);
  --color-green-400: oklch(77.0% 0.198 143.865);
  --color-green-500: oklch(70.7% 0.222 143.068);
  --color-green-600: oklch(62.3% 0.201 142.939);
  --color-green-700: oklch(52.3% 0.165 143.108);
  --color-green-800: oklch(44.4% 0.132 143.560);
  --color-green-900: oklch(38.9% 0.110 143.950);
  --color-green-1000: oklch(27.7% 0.073 144.128);
  --color-lime-50: oklch(98.6% 0.031 120.757);
  --color-lime-100: oklch(96.7% 0.067 122.328);
  --color-lime-200: oklch(93.8% 0.127 124.321);
  --color-lime-300: oklch(87.9% 0.162 126.223);
  --color-lime-400: oklch(84.1% 0.238 128.85);
  --color-lime-500: oklch(76.8% 0.233 130.85);
  --color-lime-600: oklch(64.8% 0.2 131.684);
  --color-lime-700: oklch(53.2% 0.157 131.589);
  --color-lime-800: oklch(45.3% 0.124 130.933);
  --color-lime-900: oklch(40.5% 0.101 131.063);
  --color-lime-1000: oklch(30.3% 0.067 130.208);
  --color-yellow-50: oklch(98.7% 0.026 102.212);
  --color-yellow-100: oklch(97.3% 0.071 103.193);
  --color-yellow-200: oklch(94.5% 0.129 101.54);
  --color-yellow-300: oklch(90.5% 0.182 98.111);
  --color-yellow-400: oklch(85.2% 0.199 91.936);
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-yellow-600: oklch(68.1% 0.162 75.834);
  --color-yellow-700: oklch(55.4% 0.135 66.442);
  --color-yellow-800: oklch(47.6% 0.114 61.907);
  --color-yellow-900: oklch(42.1% 0.095 57.708);
  --color-yellow-1000: oklch(30.7% 0.061 58.986);
  --color-amber-50: oklch(98.7% 0.022 95.277);
  --color-amber-100: oklch(96.2% 0.059 95.617);
  --color-amber-200: oklch(92.4% 0.12 95.746);
  --color-amber-300: oklch(87.9% 0.169 91.605);
  --color-amber-400: oklch(82.8% 0.189 84.429);
  --color-amber-500: oklch(76.9% 0.188 70.08);
  --color-amber-600: oklch(66.6% 0.179 58.318);
  --color-amber-700: oklch(55.5% 0.163 48.998);
  --color-amber-800: oklch(47.3% 0.137 46.201);
  --color-amber-900: oklch(41.4% 0.112 45.904);
  --color-amber-1000: oklch(29.8% 0.071 46.776);
  --color-orange-50: oklch(98% 0.016 73.684);
  --color-orange-100: oklch(95.4% 0.038 75.164);
  --color-orange-200: oklch(90.1% 0.076 70.697);
  --color-orange-300: oklch(83.7% 0.128 66.29);
  --color-orange-400: oklch(75% 0.183 55.934);
  --color-orange-500: oklch(70.5% 0.213 47.604);
  --color-orange-600: oklch(64.6% 0.222 41.116);
  --color-orange-700: oklch(55.3% 0.195 38.402);
  --color-orange-800: oklch(47% 0.157 37.304);
  --color-orange-900: oklch(40.8% 0.123 38.172);
  --color-orange-1000: oklch(29.5% 0.079 38.072);
  --color-red-50: oklch(97.1% 0.013 17.38);
  --color-red-100: oklch(93.6% 0.032 17.717);
  --color-red-200: oklch(88.5% 0.062 18.334);
  --color-red-300: oklch(80.8% 0.114 19.571);
  --color-red-400: oklch(70.4% 0.191 22.216);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-red-700: oklch(50.5% 0.213 27.518);
  --color-red-800: oklch(44.4% 0.177 26.899);
  --color-red-900: oklch(39.6% 0.141 25.723);
  --color-red-1000: oklch(28.9% 0.091 24.918);
}