.theme-light {
  --color-background-mono: #000;
  --color-background-canvas: #fff;
  --color-background-neutral-default: #fff;
  --color-background-neutral-hover: oklch(98.5% 0 0);
  --color-background-neutral-weak: oklch(98.5% 0 0);
  --color-background-neutral-weak-hover: oklch(96.7% 0.001 286.375);
  --color-background-neutral-medium: oklch(95.0% 0.003 286.349);
  --color-background-neutral-medium-hover: oklch(92% 0.004 286.32);
  --color-background-neutral-strong: oklch(27.4% 0.006 286.033);
  --color-background-neutral-strong-hover: oklch(37% 0.013 285.805);
  --color-background-success-default: oklch(98.2% 0.018 155.826);
  --color-background-success-strong: oklch(70.7% 0.222 143.068);
  --color-background-danger-default: oklch(97.1% 0.013 17.38);
  --color-background-danger-strong: oklch(63.7% 0.237 25.331);
  --color-background-warning-default: oklch(98.7% 0.022 95.277);
  --color-background-warning-strong: oklch(76.9% 0.188 70.08);
  --color-background-info-default: oklch(97.7% 0.013 236.62);
  --color-background-info-strong: oklch(68.5% 0.169 237.323);
  --color-background-action-strong: oklch(65.4% 0.221 2.378);
  --color-background-action-strong-hover: oklch(58.1% 0.214 3.500);
  --color-background-action-strong-active: oklch(50.7% 0.193 2.713);
  --color-background-action-strong-disabled: oklch(from oklch(65.4% 0.221 2.378) l c h / 0.5);
  --color-background-action-medium: #fff;
  --color-background-action-medium-hover: oklch(98.5% 0 0);
  --color-background-action-medium-active: oklch(94.5% 0.031 354.723);
  --color-background-action-weak-hover: oklch(from oklch(16.9% 0.002 286.177) l c h / 0.04);
  --color-background-action-weak-active: oklch(94.5% 0.031 354.723);
  --color-background-copilot-default: oklch(97.7% 0.014 308.299);
  --color-background-copilot-weak: oklch(94.6% 0.033 307.174);
  --color-background-copilot-medium: oklch(62.7% 0.265 303.9);
  --color-background-copilot-strong: oklch(43.8% 0.218 303.724);
  --color-background-decorative-amber-default: oklch(98.7% 0.022 95.277);
  --color-background-decorative-amber-weak: oklch(96.2% 0.059 95.617);
  --color-background-decorative-amber-medium: oklch(76.9% 0.188 70.08);
  --color-background-decorative-amber-strong: oklch(47.3% 0.137 46.201);
  --color-background-decorative-orange-default: oklch(98% 0.016 73.684);
  --color-background-decorative-orange-weak: oklch(95.4% 0.038 75.164);
  --color-background-decorative-orange-medium: oklch(70.5% 0.213 47.604);
  --color-background-decorative-orange-strong: oklch(47% 0.157 37.304);
  --color-background-decorative-lime-default: oklch(98.6% 0.031 120.757);
  --color-background-decorative-lime-weak: oklch(96.7% 0.067 122.328);
  --color-background-decorative-lime-medium: oklch(76.8% 0.233 130.85);
  --color-background-decorative-lime-strong: oklch(45.3% 0.124 130.933);
  --color-background-decorative-green-default: oklch(98.2% 0.018 155.826);
  --color-background-decorative-green-weak: oklch(95.7% 0.047 145.194);
  --color-background-decorative-green-medium: oklch(70.7% 0.222 143.068);
  --color-background-decorative-green-strong: oklch(44.4% 0.132 143.560);
  --color-background-decorative-emerald-default: oklch(97.9% 0.021 166.113);
  --color-background-decorative-emerald-weak: oklch(95% 0.052 163.051);
  --color-background-decorative-emerald-medium: oklch(69.6% 0.17 162.48);
  --color-background-decorative-emerald-strong: oklch(43.2% 0.095 166.913);
  --color-background-decorative-teal-default: oklch(98.4% 0.014 180.72);
  --color-background-decorative-teal-weak: oklch(95.6% 0.036 181.707);
  --color-background-decorative-teal-medium: oklch(70.4% 0.14 182.503);
  --color-background-decorative-teal-strong: oklch(43.7% 0.078 188.216);
  --color-background-decorative-cyan-default: oklch(98.4% 0.019 200.873);
  --color-background-decorative-cyan-weak: oklch(96.0% 0.033 203.507);
  --color-background-decorative-cyan-medium: oklch(71.5% 0.143 215.221);
  --color-background-decorative-cyan-strong: oklch(45% 0.085 224.283);
  --color-background-decorative-light-blue-default: oklch(97.7% 0.013 236.62);
  --color-background-decorative-light-blue-weak: oklch(95.1% 0.026 236.824);
  --color-background-decorative-light-blue-medium: oklch(68.5% 0.169 237.323);
  --color-background-decorative-light-blue-strong: oklch(44.3% 0.11 240.79);
  --color-background-decorative-blue-default: oklch(97% 0.014 254.604);
  --color-background-decorative-blue-weak: oklch(93.2% 0.032 255.585);
  --color-background-decorative-blue-medium: oklch(62.3% 0.214 259.815);
  --color-background-decorative-blue-strong: oklch(42.4% 0.199 265.638);
  --color-background-decorative-indigo-default: oklch(96.2% 0.018 272.314);
  --color-background-decorative-indigo-weak: oklch(93% 0.034 272.788);
  --color-background-decorative-indigo-medium: oklch(58.5% 0.233 277.117);
  --color-background-decorative-indigo-strong: oklch(39.8% 0.195 277.366);
  --color-background-decorative-violet-default: oklch(96.9% 0.016 293.756);
  --color-background-decorative-violet-weak: oklch(94.3% 0.029 294.588);
  --color-background-decorative-violet-medium: oklch(60.6% 0.25 292.717);
  --color-background-decorative-violet-strong: oklch(43.2% 0.232 292.759);
  --color-background-decorative-purple-default: oklch(97.7% 0.014 308.299);
  --color-background-decorative-purple-weak: oklch(94.6% 0.033 307.174);
  --color-background-decorative-purple-medium: oklch(62.7% 0.265 303.9);
  --color-background-decorative-purple-strong: oklch(43.8% 0.218 303.724);
  --color-background-decorative-fuchsia-default: oklch(97.7% 0.017 320.058);
  --color-background-decorative-fuchsia-weak: oklch(95.2% 0.037 318.852);
  --color-background-decorative-fuchsia-medium: oklch(66.7% 0.295 322.15);
  --color-background-decorative-fuchsia-strong: oklch(45.2% 0.211 324.591);
  --color-background-decorative-yellow-default: oklch(98.7% 0.026 102.212);
  --color-background-decorative-yellow-weak: oklch(97.3% 0.071 103.193);
  --color-background-decorative-yellow-medium: oklch(79.5% 0.184 86.047);
  --color-background-decorative-yellow-strong: oklch(47.6% 0.114 61.907);
  --color-background-decorative-zinc-default: oklch(98.5% 0 0);
  --color-background-decorative-zinc-weak: oklch(96.7% 0.001 286.375);
  --color-background-decorative-zinc-medium: oklch(55.2% 0.016 285.938);
  --color-background-decorative-zinc-strong: oklch(27.4% 0.006 286.033);
  --color-background-decorative-cerise-default: oklch(97.1% 0.014 343.198);
  --color-background-decorative-cerise-weak: oklch(94.8% 0.028 342.258);
  --color-background-decorative-cerise-medium: oklch(65.6% 0.241 354.308);
  --color-background-decorative-cerise-strong: oklch(45.9% 0.187 3.815);
  --color-background-decorative-rose-default: oklch(96.9% 0.015 12.422);
  --color-background-decorative-rose-weak: oklch(94.1% 0.03 12.58);
  --color-background-decorative-rose-medium: oklch(64.5% 0.246 16.439);
  --color-background-decorative-rose-strong: oklch(45.5% 0.188 13.697);
  --color-background-decorative-red-default: oklch(97.1% 0.013 17.38);
  --color-background-decorative-red-weak: oklch(93.6% 0.032 17.717);
  --color-background-decorative-red-medium: oklch(63.7% 0.237 25.331);
  --color-background-decorative-red-strong: oklch(44.4% 0.177 26.899);
  --color-border-neutral-default: oklch(from #000 l c h / 0.06);
  --color-border-neutral-medium: oklch(from #000 l c h / 0.11);
  --color-border-neutral-strong: oklch(from #000 l c h / 0.2);
  --color-border-success-default: oklch(from oklch(33.0% 0.009 276.875) l c h / 0.05);
  --color-border-danger-default: oklch(from oklch(33.0% 0.009 276.875) l c h / 0.05);
  --color-border-warning-default: oklch(from oklch(33.0% 0.009 276.875) l c h / 0.05);
  --color-border-info-default: oklch(from oklch(33.0% 0.009 276.875) l c h / 0.05);
  --color-border-action-medium: oklch(92% 0.004 286.32);
  --color-border-action-medium-active: oklch(88.5% 0.068 355.265);
  --color-border-action-strong: linear-gradient(180deg, oklch(from #000 l c h / 0.02) 2%, oklch(from #000 l c h / 0.10) 100%);
  --color-border-copilot-medium: oklch(43.8% 0.218 303.724);
  --color-border-decorative-amber-medium: oklch(47.3% 0.137 46.201);
  --color-border-decorative-orange-medium: oklch(47% 0.157 37.304);
  --color-border-decorative-lime-medium: oklch(45.3% 0.124 130.933);
  --color-border-decorative-green-medium: oklch(44.4% 0.132 143.560);
  --color-border-decorative-emerald-medium: oklch(43.2% 0.095 166.913);
  --color-border-decorative-teal-medium: oklch(43.7% 0.078 188.216);
  --color-border-decorative-cyan-medium: oklch(45% 0.085 224.283);
  --color-border-decorative-light-blue-medium: oklch(44.3% 0.11 240.79);
  --color-border-decorative-blue-medium: oklch(42.4% 0.199 265.638);
  --color-border-decorative-indigo-medium: oklch(39.8% 0.195 277.366);
  --color-border-decorative-violet-medium: oklch(43.2% 0.232 292.759);
  --color-border-decorative-purple-medium: oklch(43.8% 0.218 303.724);
  --color-border-decorative-fuchsia-medium: oklch(45.2% 0.211 324.591);
  --color-border-decorative-yellow-medium: oklch(47.6% 0.114 61.907);
  --color-border-decorative-zinc-medium: oklch(27.4% 0.006 286.033);
  --color-border-decorative-cerise-medium: oklch(45.9% 0.187 3.815);
  --color-border-decorative-rose-medium: oklch(45.5% 0.188 13.697);
  --color-border-decorative-red-medium: oklch(44.4% 0.177 26.899);
  --color-outline-focus-default: oklch(from oklch(65.4% 0.221 2.378) l c h / 0.5);
  --color-text-neutral-default: oklch(33.0% 0.009 276.875);
  --color-text-neutral-weak: oklch(76.8% 0.009 278.595);
  --color-text-neutral-medium: oklch(55.2% 0.016 285.938);
  --color-text-action-default: oklch(65.4% 0.221 2.378);
  --color-text-action-hover: oklch(58.1% 0.214 3.500);
  --color-text-action-active: oklch(58.1% 0.214 3.500);
  --color-text-action-weak: oklch(33.0% 0.009 276.875);
  --color-text-action-weak-active: oklch(58.1% 0.214 3.500);
  --color-text-action-medium: oklch(33.0% 0.009 276.875);
  --color-text-action-medium-active: oklch(58.1% 0.214 3.500);
  --color-text-action-strong: #fff;
  --color-text-success-default: oklch(33.0% 0.009 276.875);
  --color-text-danger-default: oklch(33.0% 0.009 276.875);
  --color-text-warning-default: oklch(33.0% 0.009 276.875);
  --color-text-info-default: oklch(33.0% 0.009 276.875);
  --color-text-copilot-default: oklch(55.8% 0.288 302.321);
  --color-text-copilot-weak: oklch(43.8% 0.218 303.724);
  --color-text-copilot-medium: #fff;
  --color-text-copilot-strong: #fff;
  --color-text-decorative-amber-default: oklch(66.6% 0.179 58.318);
  --color-text-decorative-amber-weak: oklch(47.3% 0.137 46.201);
  --color-text-decorative-amber-medium: #fff;
  --color-text-decorative-amber-strong: #fff;
  --color-text-decorative-orange-default: oklch(64.6% 0.222 41.116);
  --color-text-decorative-orange-weak: oklch(47% 0.157 37.304);
  --color-text-decorative-orange-medium: #fff;
  --color-text-decorative-orange-strong: #fff;
  --color-text-decorative-fuchsia-default: oklch(59.1% 0.293 322.896);
  --color-text-decorative-fuchsia-weak: oklch(45.2% 0.211 324.591);
  --color-text-decorative-fuchsia-medium: #fff;
  --color-text-decorative-fuchsia-strong: #fff;
  --color-text-decorative-purple-default: oklch(55.8% 0.288 302.321);
  --color-text-decorative-purple-weak: oklch(43.8% 0.218 303.724);
  --color-text-decorative-purple-medium: #fff;
  --color-text-decorative-purple-strong: #fff;
  --color-text-decorative-violet-default: oklch(54.1% 0.281 293.009);
  --color-text-decorative-violet-weak: oklch(43.2% 0.232 292.759);
  --color-text-decorative-violet-medium: #fff;
  --color-text-decorative-violet-strong: #fff;
  --color-text-decorative-indigo-default: oklch(51.1% 0.262 276.966);
  --color-text-decorative-indigo-weak: oklch(39.8% 0.195 277.366);
  --color-text-decorative-indigo-medium: #fff;
  --color-text-decorative-indigo-strong: #fff;
  --color-text-decorative-blue-default: oklch(54.6% 0.245 262.881);
  --color-text-decorative-blue-weak: oklch(42.4% 0.199 265.638);
  --color-text-decorative-blue-medium: #fff;
  --color-text-decorative-blue-strong: #fff;
  --color-text-decorative-light-blue-default: oklch(58.8% 0.158 241.966);
  --color-text-decorative-light-blue-weak: oklch(44.3% 0.11 240.79);
  --color-text-decorative-light-blue-medium: #fff;
  --color-text-decorative-light-blue-strong: #fff;
  --color-text-decorative-cyan-default: oklch(60.9% 0.126 221.723);
  --color-text-decorative-cyan-weak: oklch(45% 0.085 224.283);
  --color-text-decorative-cyan-medium: #fff;
  --color-text-decorative-cyan-strong: #fff;
  --color-text-decorative-teal-default: oklch(60% 0.118 184.704);
  --color-text-decorative-teal-weak: oklch(43.7% 0.078 188.216);
  --color-text-decorative-teal-medium: #fff;
  --color-text-decorative-teal-strong: #fff;
  --color-text-decorative-emerald-default: oklch(59.6% 0.145 163.225);
  --color-text-decorative-emerald-weak: oklch(43.2% 0.095 166.913);
  --color-text-decorative-emerald-medium: #fff;
  --color-text-decorative-emerald-strong: #fff;
  --color-text-decorative-green-default: oklch(62.3% 0.201 142.939);
  --color-text-decorative-green-weak: oklch(44.4% 0.132 143.560);
  --color-text-decorative-green-medium: #fff;
  --color-text-decorative-green-strong: #fff;
  --color-text-decorative-lime-default: oklch(64.8% 0.2 131.684);
  --color-text-decorative-lime-weak: oklch(45.3% 0.124 130.933);
  --color-text-decorative-lime-medium: #fff;
  --color-text-decorative-lime-strong: #fff;
  --color-text-decorative-cerise-default: oklch(59.2% 0.249 0.584);
  --color-text-decorative-cerise-weak: oklch(45.9% 0.187 3.815);
  --color-text-decorative-cerise-medium: #fff;
  --color-text-decorative-cerise-strong: #fff;
  --color-text-decorative-yellow-default: oklch(68.1% 0.162 75.834);
  --color-text-decorative-yellow-weak: oklch(47.6% 0.114 61.907);
  --color-text-decorative-yellow-medium: #fff;
  --color-text-decorative-yellow-strong: #fff;
  --color-text-decorative-zinc-default: oklch(46.4% 0.010 271.198);
  --color-text-decorative-zinc-weak: oklch(27.4% 0.006 286.033);
  --color-text-decorative-zinc-medium: #fff;
  --color-text-decorative-zinc-strong: #fff;
  --color-text-decorative-rose-default: oklch(58.6% 0.253 17.585);
  --color-text-decorative-rose-weak: oklch(45.5% 0.188 13.697);
  --color-text-decorative-rose-medium: #fff;
  --color-text-decorative-rose-strong: #fff;
  --color-text-decorative-red-default: oklch(57.7% 0.245 27.325);
  --color-text-decorative-red-weak: oklch(44.4% 0.177 26.899);
  --color-text-decorative-red-medium: #fff;
  --color-text-decorative-red-strong: #fff;
  --color-icon-neutral-default: oklch(46.4% 0.010 271.198);
  --color-icon-neutral-weak: oklch(76.8% 0.009 278.595);
  --color-icon-success-default: oklch(62.3% 0.201 142.939);
  --color-icon-success-strong: #fff;
  --color-icon-danger-default: oklch(57.7% 0.245 27.325);
  --color-icon-danger-strong: #fff;
  --color-icon-warning-default: oklch(66.6% 0.179 58.318);
  --color-icon-warning-strong: #fff;
  --color-icon-info-default: oklch(58.8% 0.158 241.966);
  --color-icon-info-strong: #fff;
  --color-icon-copilot-default: oklch(55.8% 0.288 302.321);
  --color-icon-copilot-weak: oklch(43.8% 0.218 303.724);
  --color-icon-copilot-medium: #fff;
  --color-icon-copilot-strong: #fff;
  --color-icon-decorative-amber-default: oklch(66.6% 0.179 58.318);
  --color-icon-decorative-amber-weak: oklch(47.3% 0.137 46.201);
  --color-icon-decorative-amber-medium: #fff;
  --color-icon-decorative-amber-strong: #fff;
  --color-icon-decorative-orange-default: oklch(64.6% 0.222 41.116);
  --color-icon-decorative-orange-weak: oklch(47% 0.157 37.304);
  --color-icon-decorative-orange-medium: #fff;
  --color-icon-decorative-orange-strong: #fff;
  --color-icon-decorative-fuchsia-default: oklch(59.1% 0.293 322.896);
  --color-icon-decorative-fuchsia-weak: oklch(45.2% 0.211 324.591);
  --color-icon-decorative-fuchsia-medium: #fff;
  --color-icon-decorative-fuchsia-strong: #fff;
  --color-icon-decorative-purple-default: oklch(55.8% 0.288 302.321);
  --color-icon-decorative-purple-weak: oklch(43.8% 0.218 303.724);
  --color-icon-decorative-purple-medium: #fff;
  --color-icon-decorative-purple-strong: #fff;
  --color-icon-decorative-violet-default: oklch(54.1% 0.281 293.009);
  --color-icon-decorative-violet-weak: oklch(43.2% 0.232 292.759);
  --color-icon-decorative-violet-medium: #fff;
  --color-icon-decorative-violet-strong: #fff;
  --color-icon-decorative-indigo-default: oklch(51.1% 0.262 276.966);
  --color-icon-decorative-indigo-weak: oklch(39.8% 0.195 277.366);
  --color-icon-decorative-indigo-medium: #fff;
  --color-icon-decorative-indigo-strong: #fff;
  --color-icon-decorative-blue-default: oklch(54.6% 0.245 262.881);
  --color-icon-decorative-blue-weak: oklch(42.4% 0.199 265.638);
  --color-icon-decorative-blue-medium: #fff;
  --color-icon-decorative-blue-strong: #fff;
  --color-icon-decorative-light-blue-default: oklch(58.8% 0.158 241.966);
  --color-icon-decorative-light-blue-weak: oklch(44.3% 0.11 240.79);
  --color-icon-decorative-light-blue-medium: #fff;
  --color-icon-decorative-light-blue-strong: #fff;
  --color-icon-decorative-cyan-default: oklch(60.9% 0.126 221.723);
  --color-icon-decorative-cyan-weak: oklch(45% 0.085 224.283);
  --color-icon-decorative-cyan-medium: #fff;
  --color-icon-decorative-cyan-strong: #fff;
  --color-icon-decorative-teal-default: oklch(60% 0.118 184.704);
  --color-icon-decorative-teal-weak: oklch(43.7% 0.078 188.216);
  --color-icon-decorative-teal-medium: #fff;
  --color-icon-decorative-teal-strong: #fff;
  --color-icon-decorative-emerald-default: oklch(59.6% 0.145 163.225);
  --color-icon-decorative-emerald-weak: oklch(43.2% 0.095 166.913);
  --color-icon-decorative-emerald-medium: #fff;
  --color-icon-decorative-emerald-strong: #fff;
  --color-icon-decorative-green-default: oklch(62.3% 0.201 142.939);
  --color-icon-decorative-green-weak: oklch(44.4% 0.132 143.560);
  --color-icon-decorative-green-medium: #fff;
  --color-icon-decorative-green-strong: #fff;
  --color-icon-decorative-lime-default: oklch(64.8% 0.2 131.684);
  --color-icon-decorative-lime-weak: oklch(45.3% 0.124 130.933);
  --color-icon-decorative-lime-medium: #fff;
  --color-icon-decorative-lime-strong: #fff;
  --color-icon-decorative-cerise-default: oklch(59.2% 0.249 0.584);
  --color-icon-decorative-cerise-weak: oklch(45.9% 0.187 3.815);
  --color-icon-decorative-cerise-medium: #fff;
  --color-icon-decorative-cerise-strong: #fff;
  --color-icon-decorative-yellow-default: oklch(68.1% 0.162 75.834);
  --color-icon-decorative-yellow-weak: oklch(47.6% 0.114 61.907);
  --color-icon-decorative-yellow-medium: #fff;
  --color-icon-decorative-yellow-strong: #fff;
  --color-icon-decorative-zinc-default: oklch(46.4% 0.010 271.198);
  --color-icon-decorative-zinc-weak: oklch(27.4% 0.006 286.033);
  --color-icon-decorative-zinc-medium: #fff;
  --color-icon-decorative-zinc-strong: #fff;
  --color-icon-decorative-rose-default: oklch(58.6% 0.253 17.585);
  --color-icon-decorative-rose-weak: oklch(45.5% 0.188 13.697);
  --color-icon-decorative-rose-medium: #fff;
  --color-icon-decorative-rose-strong: #fff;
  --color-icon-decorative-red-default: oklch(57.7% 0.245 27.325);
  --color-icon-decorative-red-weak: oklch(44.4% 0.177 26.899);
  --color-icon-decorative-red-medium: #fff;
  --color-icon-decorative-red-strong: #fff;
}