.theme-dark {
  --color-background-mono: rgb(255, 255, 255);
  --color-background-canvas: rgb(32, 32, 34);
  --color-background-neutral-default: rgb(40, 40, 43);
  --color-background-neutral-hover: rgb(52, 53, 58);
  --color-background-neutral-weak: rgb(40, 40, 43);
  --color-background-neutral-weak-hover: rgb(52, 53, 58);
  --color-background-neutral-medium: rgb(63, 63, 70);
  --color-background-neutral-medium-hover: rgb(87, 89, 95);
  --color-background-neutral-strong: rgb(21, 21, 22);
  --color-background-neutral-strong-hover: rgb(32, 32, 34);
  --color-background-success-default: rgb(12, 49, 14);
  --color-background-success-strong: rgb(22, 101, 26);
  --color-background-danger-default: rgb(79, 18, 18);
  --color-background-danger-strong: rgb(153, 27, 27);
  --color-background-warning-default: rgb(73, 32, 9);
  --color-background-warning-strong: rgb(146, 64, 14);
  --color-background-info-default: rgb(9, 53, 78);
  --color-background-info-strong: rgb(7, 89, 133);
  --color-background-action-strong: rgb(181, 22, 91);
  --color-background-action-strong-hover: rgb(215, 37, 109);
  --color-background-action-strong-active: rgb(142, 16, 74);
  --color-background-action-strong-disabled: rgba(244,63,133, 0.5);
  --color-background-action-medium: rgb(32, 32, 34);
  --color-background-action-medium-hover: rgb(40, 40, 43);
  --color-background-action-medium-active: rgb(63, 63, 70);
  --color-background-action-weak-hover: rgb(52, 53, 58);
  --color-background-action-weak-active: rgb(63, 63, 70);
  --color-background-copilot-default: rgb(55, 18, 84);
  --color-background-copilot-weak: rgb(88, 28, 135);
  --color-background-copilot-medium: rgb(107, 33, 168);
  --color-background-copilot-strong: rgb(147, 51, 234);
  --color-background-decorative-amber-default: rgb(73, 32, 9);
  --color-background-decorative-amber-weak: rgb(120, 53, 15);
  --color-background-decorative-amber-medium: rgb(217, 119, 6);
  --color-background-decorative-amber-strong: rgb(217, 119, 6);
  --color-background-decorative-orange-default: rgb(76, 27, 11);
  --color-background-decorative-orange-weak: rgb(124, 45, 18);
  --color-background-decorative-orange-medium: rgb(234, 88, 12);
  --color-background-decorative-orange-strong: rgb(234, 88, 12);
  --color-background-decorative-lime-default: rgb(35, 53, 13);
  --color-background-decorative-lime-weak: rgb(54, 83, 20);
  --color-background-decorative-lime-medium: rgb(101, 163, 13);
  --color-background-decorative-lime-strong: rgb(101, 163, 13);
  --color-background-decorative-green-default: rgb(12, 49, 14);
  --color-background-decorative-green-weak: rgb(20, 83, 24);
  --color-background-decorative-green-medium: rgb(22, 163, 27);
  --color-background-decorative-green-strong: rgb(22, 163, 27);
  --color-background-decorative-emerald-default: rgb(4, 47, 36);
  --color-background-decorative-emerald-weak: rgb(6, 78, 59);
  --color-background-decorative-emerald-medium: rgb(5, 150, 105);
  --color-background-decorative-emerald-strong: rgb(5, 150, 105);
  --color-background-decorative-teal-default: rgb(12, 49, 47);
  --color-background-decorative-teal-weak: rgb(19, 78, 74);
  --color-background-decorative-teal-medium: rgb(13, 148, 136);
  --color-background-decorative-teal-strong: rgb(13, 148, 136);
  --color-background-decorative-cyan-default: rgb(15, 53, 67);
  --color-background-decorative-cyan-weak: rgb(22, 78, 99);
  --color-background-decorative-cyan-medium: rgb(8, 145, 178);
  --color-background-decorative-cyan-strong: rgb(8, 145, 178);
  --color-background-decorative-light-blue-default: rgb(9, 53, 78);
  --color-background-decorative-light-blue-weak: rgb(12, 74, 110);
  --color-background-decorative-light-blue-medium: rgb(2, 132, 199);
  --color-background-decorative-light-blue-strong: rgb(2, 132, 199);
  --color-background-decorative-blue-default: rgb(19, 37, 88);
  --color-background-decorative-blue-weak: rgb(30, 58, 138);
  --color-background-decorative-blue-medium: rgb(37, 99, 235);
  --color-background-decorative-blue-strong: rgb(37, 99, 235);
  --color-background-decorative-indigo-default: rgb(31, 29, 83);
  --color-background-decorative-indigo-weak: rgb(49, 46, 129);
  --color-background-decorative-indigo-medium: rgb(79, 70, 229);
  --color-background-decorative-indigo-strong: rgb(79, 70, 229);
  --color-background-decorative-violet-default: rgb(48, 18, 94);
  --color-background-decorative-violet-weak: rgb(76, 29, 149);
  --color-background-decorative-violet-medium: rgb(124, 58, 237);
  --color-background-decorative-violet-strong: rgb(124, 58, 237);
  --color-background-decorative-purple-default: rgb(55, 18, 84);
  --color-background-decorative-purple-weak: rgb(88, 28, 135);
  --color-background-decorative-purple-medium: rgb(147, 51, 234);
  --color-background-decorative-purple-strong: rgb(147, 51, 234);
  --color-background-decorative-fuchsia-default: rgb(72, 17, 75);
  --color-background-decorative-fuchsia-weak: rgb(112, 26, 117);
  --color-background-decorative-fuchsia-medium: rgb(192, 38, 211);
  --color-background-decorative-fuchsia-strong: rgb(192, 38, 211);
  --color-background-decorative-yellow-default: rgb(70, 39, 11);
  --color-background-decorative-yellow-weak: rgb(113, 63, 18);
  --color-background-decorative-yellow-medium: rgb(202, 138, 4);
  --color-background-decorative-yellow-strong: rgb(202, 138, 4);
  --color-background-decorative-zinc-default: rgb(40, 40, 43);
  --color-background-decorative-zinc-weak: rgb(40, 40, 43);
  --color-background-decorative-zinc-medium: rgb(87, 89, 95);
  --color-background-decorative-zinc-strong: rgb(87, 89, 95);
  --color-background-decorative-cerise-default: rgb(73, 13, 37);
  --color-background-decorative-cerise-weak: rgb(131, 24, 67);
  --color-background-decorative-cerise-medium: rgb(219, 39, 119);
  --color-background-decorative-cerise-strong: rgb(219, 39, 119);
  --color-background-decorative-rose-default: rgb(67, 9, 27);
  --color-background-decorative-rose-weak: rgb(136, 19, 55);
  --color-background-decorative-rose-medium: rgb(225, 29, 72);
  --color-background-decorative-rose-strong: rgb(225, 29, 72);
  --color-background-decorative-red-default: rgb(79, 18, 18);
  --color-background-decorative-red-weak: rgb(127, 29, 29);
  --color-background-decorative-red-medium: rgb(220, 38, 38);
  --color-background-decorative-red-strong: rgb(220, 38, 38);
  --color-border-neutral-default: rgba(255,255,255, 0.14);
  --color-border-neutral-medium: rgba(255,255,255, 0.2);
  --color-border-neutral-strong: rgba(255,255,255, 0.28);
  --color-border-success-default: rgba(52,53,58, 0.05);
  --color-border-danger-default: rgba(52,53,58, 0.05);
  --color-border-warning-default: rgba(52,53,58, 0.05);
  --color-border-info-default: rgba(52,53,58, 0.05);
  --color-border-action-medium: rgb(87, 89, 95);
  --color-border-action-medium-active: rgba(0,0,0, 0.05);
  --color-border-action-strong: linear-gradient(180deg, rgba(0,0,0, 0.02) 2%, rgba(0,0,0, 0.10) 100%);
  --color-border-copilot-medium: rgb(107, 33, 168);
  --color-border-decorative-amber-medium: rgb(146, 64, 14);
  --color-border-decorative-orange-medium: rgb(154, 52, 18);
  --color-border-decorative-lime-medium: rgb(63, 98, 18);
  --color-border-decorative-green-medium: rgb(22, 101, 26);
  --color-border-decorative-emerald-medium: rgb(6, 95, 70);
  --color-border-decorative-teal-medium: rgb(17, 94, 89);
  --color-border-decorative-cyan-medium: rgb(21, 94, 117);
  --color-border-decorative-light-blue-medium: rgb(7, 89, 133);
  --color-border-decorative-blue-medium: rgb(30, 64, 175);
  --color-border-decorative-indigo-medium: rgb(55, 48, 163);
  --color-border-decorative-violet-medium: rgb(91, 33, 182);
  --color-border-decorative-purple-medium: rgb(107, 33, 168);
  --color-border-decorative-fuchsia-medium: rgb(134, 25, 143);
  --color-border-decorative-yellow-medium: rgb(133, 77, 14);
  --color-border-decorative-zinc-medium: rgb(40, 40, 43);
  --color-border-decorative-cerise-medium: rgb(157, 23, 77);
  --color-border-decorative-rose-medium: rgb(159, 18, 57);
  --color-border-decorative-red-medium: rgb(153, 27, 27);
  --color-outline-focus-default: rgba(244,63,133, 0.5);
  --color-text-neutral-default: rgb(244, 244, 245);
  --color-text-neutral-weak: rgb(144, 144, 149);
  --color-text-neutral-medium: rgb(178, 179, 185);
  --color-text-action-default: rgb(244, 63, 133);
  --color-text-action-hover: rgb(215, 37, 109);
  --color-text-action-default-active: rgb(215, 37, 109);
  --color-text-action-weak: rgb(255, 255, 255);
  --color-text-action-weak-active: rgb(244, 63, 133);
  --color-text-action-medium: rgb(255, 255, 255);
  --color-text-action-medium-active: rgb(244, 63, 133);
  --color-text-action-strong: rgb(255, 255, 255);
  --color-text-success-default: rgb(248, 248, 249);
  --color-text-danger-default: rgb(248, 248, 249);
  --color-text-warning-default: rgb(248, 248, 249);
  --color-text-info-default: rgb(248, 248, 249);
  --color-text-copilot-default: rgb(250, 245, 255);
  --color-text-copilot-weak: rgb(250, 245, 255);
  --color-text-copilot-medium: rgb(255, 255, 255);
  --color-text-copilot-strong: rgb(255, 255, 255);
  --color-text-decorative-amber-default: rgb(255, 251, 235);
  --color-text-decorative-amber-weak: rgb(255, 251, 235);
  --color-text-decorative-amber-medium: rgb(255, 255, 255);
  --color-text-decorative-amber-strong: rgb(255, 255, 255);
  --color-text-decorative-orange-default: rgb(255, 247, 237);
  --color-text-decorative-orange-weak: rgb(255, 247, 237);
  --color-text-decorative-orange-medium: rgb(255, 255, 255);
  --color-text-decorative-orange-strong: rgb(255, 255, 255);
  --color-text-decorative-fuchsia-default: rgb(253, 244, 255);
  --color-text-decorative-fuchsia-weak: rgb(253, 244, 255);
  --color-text-decorative-fuchsia-medium: rgb(255, 255, 255);
  --color-text-decorative-fuchsia-strong: rgb(255, 255, 255);
  --color-text-decorative-purple-default: rgb(250, 245, 255);
  --color-text-decorative-purple-weak: rgb(250, 245, 255);
  --color-text-decorative-purple-medium: rgb(255, 255, 255);
  --color-text-decorative-purple-strong: rgb(255, 255, 255);
  --color-text-decorative-violet-default: rgb(245, 243, 255);
  --color-text-decorative-violet-weak: rgb(245, 243, 255);
  --color-text-decorative-violet-medium: rgb(255, 255, 255);
  --color-text-decorative-violet-strong: rgb(255, 255, 255);
  --color-text-decorative-indigo-default: rgb(238, 242, 255);
  --color-text-decorative-indigo-weak: rgb(238, 242, 255);
  --color-text-decorative-indigo-medium: rgb(255, 255, 255);
  --color-text-decorative-indigo-strong: rgb(255, 255, 255);
  --color-text-decorative-blue-default: rgb(239, 246, 255);
  --color-text-decorative-blue-weak: rgb(239, 246, 255);
  --color-text-decorative-blue-medium: rgb(255, 255, 255);
  --color-text-decorative-blue-strong: rgb(255, 255, 255);
  --color-text-decorative-light-blue-default: rgb(240, 249, 255);
  --color-text-decorative-light-blue-weak: rgb(240, 249, 255);
  --color-text-decorative-light-blue-medium: rgb(255, 255, 255);
  --color-text-decorative-light-blue-strong: rgb(255, 255, 255);
  --color-text-decorative-cyan-default: rgb(237, 253, 254);
  --color-text-decorative-cyan-weak: rgb(237, 253, 254);
  --color-text-decorative-cyan-medium: rgb(255, 255, 255);
  --color-text-decorative-cyan-strong: rgb(255, 255, 255);
  --color-text-decorative-teal-default: rgb(237, 252, 249);
  --color-text-decorative-teal-weak: rgb(237, 252, 249);
  --color-text-decorative-teal-medium: rgb(255, 255, 255);
  --color-text-decorative-teal-strong: rgb(255, 255, 255);
  --color-text-decorative-emerald-default: rgb(238, 252, 245);
  --color-text-decorative-emerald-weak: rgb(238, 252, 245);
  --color-text-decorative-emerald-medium: rgb(255, 255, 255);
  --color-text-decorative-emerald-strong: rgb(255, 255, 255);
  --color-text-decorative-green-default: rgb(241, 252, 241);
  --color-text-decorative-green-weak: rgb(241, 252, 241);
  --color-text-decorative-green-medium: rgb(255, 255, 255);
  --color-text-decorative-green-strong: rgb(255, 255, 255);
  --color-text-decorative-lime-default: rgb(247, 253, 232);
  --color-text-decorative-lime-weak: rgb(247, 253, 232);
  --color-text-decorative-lime-medium: rgb(255, 255, 255);
  --color-text-decorative-lime-strong: rgb(255, 255, 255);
  --color-text-decorative-cerise-default: rgb(253, 242, 248);
  --color-text-decorative-cerise-weak: rgb(253, 242, 248);
  --color-text-decorative-cerise-medium: rgb(255, 255, 255);
  --color-text-decorative-cerise-strong: rgb(255, 255, 255);
  --color-text-decorative-yellow-default: rgb(254, 252, 232);
  --color-text-decorative-yellow-weak: rgb(254, 252, 232);
  --color-text-decorative-yellow-medium: rgb(255, 255, 255);
  --color-text-decorative-yellow-strong: rgb(255, 255, 255);
  --color-text-decorative-zinc-default: rgb(248, 248, 249);
  --color-text-decorative-zinc-weak: rgb(248, 248, 249);
  --color-text-decorative-zinc-medium: rgb(255, 255, 255);
  --color-text-decorative-zinc-strong: rgb(255, 255, 255);
  --color-text-decorative-rose-default: rgb(255, 241, 242);
  --color-text-decorative-rose-weak: rgb(255, 241, 242);
  --color-text-decorative-rose-medium: rgb(255, 255, 255);
  --color-text-decorative-rose-strong: rgb(255, 255, 255);
  --color-text-decorative-red-default: rgb(254, 242, 242);
  --color-text-decorative-red-weak: rgb(254, 242, 242);
  --color-text-decorative-red-medium: rgb(255, 255, 255);
  --color-text-decorative-red-strong: rgb(255, 255, 255);
  --color-icon-neutral-default: rgb(178, 179, 185);
  --color-icon-neutral-weak: rgb(113, 113, 122);
  --color-icon-success-default: rgb(222, 250, 222);
  --color-icon-success-strong: rgb(255, 255, 255);
  --color-icon-danger-default: rgb(254, 226, 226);
  --color-icon-danger-strong: rgb(255, 255, 255);
  --color-icon-warning-default: rgb(254, 243, 199);
  --color-icon-warning-strong: rgb(255, 255, 255);
  --color-icon-info-default: rgb(220, 242, 254);
  --color-icon-info-strong: rgb(255, 255, 255);
  --color-icon-copilot-default: rgb(233, 213, 255);
  --color-icon-copilot-weak: rgb(233, 213, 255);
  --color-icon-copilot-medium: rgb(255, 255, 255);
  --color-icon-copilot-strong: rgb(255, 255, 255);
  --color-icon-decorative-amber-default: rgb(253, 230, 138);
  --color-icon-decorative-amber-weak: rgb(253, 230, 138);
  --color-icon-decorative-amber-medium: rgb(255, 255, 255);
  --color-icon-decorative-amber-strong: rgb(255, 255, 255);
  --color-icon-decorative-orange-default: rgb(254, 215, 170);
  --color-icon-decorative-orange-weak: rgb(254, 215, 170);
  --color-icon-decorative-orange-medium: rgb(255, 255, 255);
  --color-icon-decorative-orange-strong: rgb(255, 255, 255);
  --color-icon-decorative-fuchsia-default: rgb(245, 208, 254);
  --color-icon-decorative-fuchsia-weak: rgb(245, 208, 254);
  --color-icon-decorative-fuchsia-medium: rgb(255, 255, 255);
  --color-icon-decorative-fuchsia-strong: rgb(255, 255, 255);
  --color-icon-decorative-purple-default: rgb(233, 213, 255);
  --color-icon-decorative-purple-weak: rgb(233, 213, 255);
  --color-icon-decorative-purple-medium: rgb(255, 255, 255);
  --color-icon-decorative-purple-strong: rgb(255, 255, 255);
  --color-icon-decorative-violet-default: rgb(221, 214, 254);
  --color-icon-decorative-violet-weak: rgb(221, 214, 254);
  --color-icon-decorative-violet-medium: rgb(255, 255, 255);
  --color-icon-decorative-violet-strong: rgb(255, 255, 255);
  --color-icon-decorative-indigo-default: rgb(199, 210, 254);
  --color-icon-decorative-indigo-weak: rgb(199, 210, 254);
  --color-icon-decorative-indigo-medium: rgb(255, 255, 255);
  --color-icon-decorative-indigo-strong: rgb(255, 255, 255);
  --color-icon-decorative-blue-default: rgb(191, 219, 254);
  --color-icon-decorative-blue-weak: rgb(191, 219, 254);
  --color-icon-decorative-blue-medium: rgb(255, 255, 255);
  --color-icon-decorative-blue-strong: rgb(255, 255, 255);
  --color-icon-decorative-light-blue-default: rgb(188, 230, 251);
  --color-icon-decorative-light-blue-weak: rgb(188, 230, 251);
  --color-icon-decorative-light-blue-medium: rgb(255, 255, 255);
  --color-icon-decorative-light-blue-strong: rgb(255, 255, 255);
  --color-icon-decorative-cyan-default: rgb(169, 239, 248);
  --color-icon-decorative-cyan-weak: rgb(169, 239, 248);
  --color-icon-decorative-cyan-medium: rgb(255, 255, 255);
  --color-icon-decorative-cyan-strong: rgb(255, 255, 255);
  --color-icon-decorative-teal-default: rgb(161, 238, 223);
  --color-icon-decorative-teal-weak: rgb(161, 238, 223);
  --color-icon-decorative-teal-medium: rgb(255, 255, 255);
  --color-icon-decorative-teal-strong: rgb(255, 255, 255);
  --color-icon-decorative-emerald-default: rgb(171, 239, 208);
  --color-icon-decorative-emerald-weak: rgb(171, 239, 208);
  --color-icon-decorative-emerald-medium: rgb(255, 255, 255);
  --color-icon-decorative-emerald-strong: rgb(255, 255, 255);
  --color-icon-decorative-green-default: rgb(191, 243, 192);
  --color-icon-decorative-green-weak: rgb(191, 243, 192);
  --color-icon-decorative-green-medium: rgb(255, 255, 255);
  --color-icon-decorative-green-strong: rgb(255, 255, 255);
  --color-icon-decorative-lime-default: rgb(215, 244, 162);
  --color-icon-decorative-lime-weak: rgb(215, 244, 162);
  --color-icon-decorative-lime-medium: rgb(255, 255, 255);
  --color-icon-decorative-lime-strong: rgb(255, 255, 255);
  --color-icon-decorative-cerise-default: rgb(251, 207, 232);
  --color-icon-decorative-cerise-weak: rgb(251, 207, 232);
  --color-icon-decorative-cerise-medium: rgb(255, 255, 255);
  --color-icon-decorative-cerise-strong: rgb(255, 255, 255);
  --color-icon-decorative-yellow-default: rgb(254, 240, 138);
  --color-icon-decorative-yellow-weak: rgb(254, 240, 138);
  --color-icon-decorative-yellow-medium: rgb(255, 255, 255);
  --color-icon-decorative-yellow-strong: rgb(255, 255, 255);
  --color-icon-decorative-zinc-default: rgb(228, 228, 231);
  --color-icon-decorative-zinc-weak: rgb(228, 228, 231);
  --color-icon-decorative-zinc-medium: rgb(255, 255, 255);
  --color-icon-decorative-zinc-strong: rgb(255, 255, 255);
  --color-icon-decorative-rose-default: rgb(254, 205, 211);
  --color-icon-decorative-rose-weak: rgb(254, 205, 211);
  --color-icon-decorative-rose-medium: rgb(255, 255, 255);
  --color-icon-decorative-rose-strong: rgb(255, 255, 255);
  --color-icon-decorative-red-default: rgb(254, 202, 202);
  --color-icon-decorative-red-weak: rgb(254, 202, 202);
  --color-icon-decorative-red-medium: rgb(255, 255, 255);
  --color-icon-decorative-red-strong: rgb(255, 255, 255);
}