.theme-dark {
  --color-background-mono: #fff;
  --color-background-canvas: oklch(22.7% 0.004 286.09);
  --color-background-neutral-default: oklch(27.4% 0.006 286.033);
  --color-background-neutral-hover: oklch(33.0% 0.009 276.875);
  --color-background-neutral-weak: oklch(27.4% 0.006 286.033);
  --color-background-neutral-weak-hover: oklch(33.0% 0.009 276.875);
  --color-background-neutral-medium: oklch(37% 0.013 285.805);
  --color-background-neutral-medium-hover: oklch(46.4% 0.010 271.198);
  --color-background-neutral-strong: oklch(16.9% 0.002 286.177);
  --color-background-neutral-strong-hover: oklch(22.7% 0.004 286.09);
  --color-background-success-default: oklch(27.7% 0.073 144.128);
  --color-background-success-strong: oklch(44.4% 0.132 143.560);
  --color-background-danger-default: oklch(28.9% 0.091 24.918);
  --color-background-danger-strong: oklch(44.4% 0.177 26.899);
  --color-background-warning-default: oklch(29.8% 0.071 46.776);
  --color-background-warning-strong: oklch(47.3% 0.137 46.201);
  --color-background-info-default: oklch(31.4% 0.064 239.328);
  --color-background-info-strong: oklch(44.3% 0.11 240.79);
  --color-background-action-strong: oklch(50.7% 0.193 2.713);
  --color-background-action-strong-hover: oklch(58.1% 0.214 3.500);
  --color-background-action-strong-active: oklch(42.6% 0.162 0.587);
  --color-background-action-strong-disabled: oklch(from oklch(65.4% 0.221 2.378) l c h / 0.5);
  --color-background-action-medium: oklch(22.7% 0.004 286.09);
  --color-background-action-medium-hover: oklch(27.4% 0.006 286.033);
  --color-background-action-medium-active: oklch(37% 0.013 285.805);
  --color-background-action-weak-hover: oklch(33.0% 0.009 276.875);
  --color-background-action-weak-active: oklch(37% 0.013 285.805);
  --color-background-copilot-default: oklch(28.0% 0.114 305.782);
  --color-background-copilot-weak: oklch(38.1% 0.176 304.987);
  --color-background-copilot-medium: oklch(43.8% 0.218 303.724);
  --color-background-copilot-strong: oklch(55.8% 0.288 302.321);
  --color-background-decorative-amber-default: oklch(29.8% 0.071 46.776);
  --color-background-decorative-amber-weak: oklch(29.8% 0.071 46.776);
  --color-background-decorative-amber-medium: oklch(66.6% 0.179 58.318);
  --color-background-decorative-amber-strong: oklch(66.6% 0.179 58.318);
  --color-background-decorative-orange-default: oklch(29.5% 0.079 38.072);
  --color-background-decorative-orange-weak: oklch(29.5% 0.079 38.072);
  --color-background-decorative-orange-medium: oklch(64.6% 0.222 41.116);
  --color-background-decorative-orange-strong: oklch(64.6% 0.222 41.116);
  --color-background-decorative-lime-default: oklch(30.3% 0.067 130.208);
  --color-background-decorative-lime-weak: oklch(30.3% 0.067 130.208);
  --color-background-decorative-lime-medium: oklch(64.8% 0.2 131.684);
  --color-background-decorative-lime-strong: oklch(64.8% 0.2 131.684);
  --color-background-decorative-green-default: oklch(27.7% 0.073 144.128);
  --color-background-decorative-green-weak: oklch(27.7% 0.073 144.128);
  --color-background-decorative-green-medium: oklch(62.3% 0.201 142.939);
  --color-background-decorative-green-strong: oklch(62.3% 0.201 142.939);
  --color-background-decorative-emerald-default: oklch(27.3% 0.050 171.234);
  --color-background-decorative-emerald-weak: oklch(27.3% 0.050 171.234);
  --color-background-decorative-emerald-medium: oklch(59.6% 0.145 163.225);
  --color-background-decorative-emerald-strong: oklch(59.6% 0.145 163.225);
  --color-background-decorative-teal-default: oklch(28.7% 0.041 190.042);
  --color-background-decorative-teal-weak: oklch(28.7% 0.041 190.042);
  --color-background-decorative-teal-medium: oklch(60% 0.118 184.704);
  --color-background-decorative-teal-strong: oklch(60% 0.118 184.704);
  --color-background-decorative-cyan-default: oklch(30.9% 0.049 226.249);
  --color-background-decorative-cyan-weak: oklch(30.9% 0.049 226.249);
  --color-background-decorative-cyan-medium: oklch(60.9% 0.126 221.723);
  --color-background-decorative-cyan-strong: oklch(60.9% 0.126 221.723);
  --color-background-decorative-light-blue-default: oklch(31.4% 0.064 239.328);
  --color-background-decorative-light-blue-weak: oklch(31.4% 0.064 239.328);
  --color-background-decorative-light-blue-medium: oklch(58.8% 0.158 241.966);
  --color-background-decorative-light-blue-strong: oklch(58.8% 0.158 241.966);
  --color-background-decorative-blue-default: oklch(28.3% 0.095 265.853);
  --color-background-decorative-blue-weak: oklch(28.3% 0.095 265.853);
  --color-background-decorative-blue-medium: oklch(54.6% 0.245 262.881);
  --color-background-decorative-blue-strong: oklch(54.6% 0.245 262.881);
  --color-background-decorative-indigo-default: oklch(27.0% 0.095 279.515);
  --color-background-decorative-indigo-weak: oklch(27.0% 0.095 279.515);
  --color-background-decorative-indigo-medium: oklch(51.1% 0.262 276.966);
  --color-background-decorative-indigo-strong: oklch(51.1% 0.262 276.966);
  --color-background-decorative-violet-default: oklch(28.0% 0.125 294.967);
  --color-background-decorative-violet-weak: oklch(28.0% 0.125 294.967);
  --color-background-decorative-violet-medium: oklch(54.1% 0.281 293.009);
  --color-background-decorative-violet-strong: oklch(54.1% 0.281 293.009);
  --color-background-decorative-purple-default: oklch(28.0% 0.114 305.782);
  --color-background-decorative-purple-weak: oklch(28.0% 0.114 305.782);
  --color-background-decorative-purple-medium: oklch(55.8% 0.288 302.321);
  --color-background-decorative-purple-strong: oklch(55.8% 0.288 302.321);
  --color-background-decorative-fuchsia-default: oklch(29.9% 0.113 325.726);
  --color-background-decorative-fuchsia-weak: oklch(29.9% 0.113 325.726);
  --color-background-decorative-fuchsia-medium: oklch(59.1% 0.293 322.896);
  --color-background-decorative-fuchsia-strong: oklch(59.1% 0.293 322.896);
  --color-background-decorative-yellow-default: oklch(30.7% 0.061 58.986);
  --color-background-decorative-yellow-weak: oklch(30.7% 0.061 58.986);
  --color-background-decorative-yellow-medium: oklch(68.1% 0.162 75.834);
  --color-background-decorative-yellow-strong: oklch(68.1% 0.162 75.834);
  --color-background-decorative-zinc-default: oklch(27.4% 0.006 286.033);
  --color-background-decorative-zinc-weak: oklch(16.9% 0.002 286.177);
  --color-background-decorative-zinc-medium: oklch(46.4% 0.010 271.198);
  --color-background-decorative-zinc-strong: oklch(46.4% 0.010 271.198);
  --color-background-decorative-cerise-default: oklch(27.6% 0.092 1.165);
  --color-background-decorative-cerise-weak: oklch(27.6% 0.092 1.165);
  --color-background-decorative-cerise-medium: oklch(59.2% 0.249 0.584);
  --color-background-decorative-cerise-strong: oklch(59.2% 0.249 0.584);
  --color-background-decorative-rose-default: oklch(25.6% 0.087 7.900);
  --color-background-decorative-rose-weak: oklch(25.6% 0.087 7.900);
  --color-background-decorative-rose-medium: oklch(58.6% 0.253 17.585);
  --color-background-decorative-rose-strong: oklch(58.6% 0.253 17.585);
  --color-background-decorative-red-default: oklch(28.9% 0.091 24.918);
  --color-background-decorative-red-weak: oklch(28.9% 0.091 24.918);
  --color-background-decorative-red-medium: oklch(57.7% 0.245 27.325);
  --color-background-decorative-red-strong: oklch(57.7% 0.245 27.325);
  --color-border-neutral-default: oklch(from #fff l c h / 0.14);
  --color-border-neutral-medium: oklch(from #fff l c h / 0.2);
  --color-border-neutral-strong: oklch(from #fff l c h / 0.28);
  --color-border-success-default: oklch(from oklch(33.0% 0.009 276.875) l c h / 0.05);
  --color-border-danger-default: oklch(from oklch(33.0% 0.009 276.875) l c h / 0.05);
  --color-border-warning-default: oklch(from oklch(33.0% 0.009 276.875) l c h / 0.05);
  --color-border-info-default: oklch(from oklch(33.0% 0.009 276.875) l c h / 0.05);
  --color-border-action-medium: oklch(46.4% 0.010 271.198);
  --color-border-action-medium-active: oklch(58.1% 0.214 3.500);
  --color-border-action-strong: linear-gradient(180deg, oklch(from #000 l c h / 0.02) 2%, oklch(from #000 l c h / 0.10) 100%);
  --color-border-copilot-medium: oklch(43.8% 0.218 303.724);
  --color-border-decorative-amber-medium: oklch(47.3% 0.137 46.201);
  --color-border-decorative-orange-medium: oklch(47% 0.157 37.304);
  --color-border-decorative-lime-medium: oklch(45.3% 0.124 130.933);
  --color-border-decorative-green-medium: oklch(44.4% 0.132 143.560);
  --color-border-decorative-emerald-medium: oklch(43.2% 0.095 166.913);
  --color-border-decorative-teal-medium: oklch(43.7% 0.078 188.216);
  --color-border-decorative-cyan-medium: oklch(45% 0.085 224.283);
  --color-border-decorative-light-blue-medium: oklch(44.3% 0.11 240.79);
  --color-border-decorative-blue-medium: oklch(42.4% 0.199 265.638);
  --color-border-decorative-indigo-medium: oklch(39.8% 0.195 277.366);
  --color-border-decorative-violet-medium: oklch(43.2% 0.232 292.759);
  --color-border-decorative-purple-medium: oklch(43.8% 0.218 303.724);
  --color-border-decorative-fuchsia-medium: oklch(45.2% 0.211 324.591);
  --color-border-decorative-yellow-medium: oklch(47.6% 0.114 61.907);
  --color-border-decorative-zinc-medium: oklch(27.4% 0.006 286.033);
  --color-border-decorative-cerise-medium: oklch(45.9% 0.187 3.815);
  --color-border-decorative-rose-medium: oklch(45.5% 0.188 13.697);
  --color-border-decorative-red-medium: oklch(44.4% 0.177 26.899);
  --color-outline-focus-default: oklch(from oklch(65.4% 0.221 2.378) l c h / 0.5);
  --color-text-neutral-default: oklch(from #fff l c h / 0.93);
  --color-text-neutral-weak: oklch(65.5% 0.007 286.196);
  --color-text-neutral-medium: oklch(76.8% 0.009 278.595);
  --color-text-action-default: oklch(65.4% 0.221 2.378);
  --color-text-action-hover: oklch(58.1% 0.214 3.500);
  --color-text-action-active: oklch(58.1% 0.214 3.500);
  --color-text-action-weak: oklch(from #fff l c h / 0.93);
  --color-text-action-weak-active: oklch(65.4% 0.221 2.378);
  --color-text-action-medium: oklch(from #fff l c h / 0.93);
  --color-text-action-medium-active: oklch(65.4% 0.221 2.378);
  --color-text-action-strong: oklch(from #fff l c h / 0.93);
  --color-text-success-default: oklch(98.5% 0 0);
  --color-text-danger-default: oklch(98.5% 0 0);
  --color-text-warning-default: oklch(98.5% 0 0);
  --color-text-info-default: oklch(98.5% 0 0);
  --color-text-copilot-default: oklch(97.7% 0.014 308.299);
  --color-text-copilot-weak: oklch(97.7% 0.014 308.299);
  --color-text-copilot-medium: #fff;
  --color-text-copilot-strong: #fff;
  --color-text-decorative-amber-default: oklch(98.7% 0.022 95.277);
  --color-text-decorative-amber-weak: oklch(92.4% 0.12 95.746);
  --color-text-decorative-amber-medium: #fff;
  --color-text-decorative-amber-strong: #fff;
  --color-text-decorative-orange-default: oklch(98% 0.016 73.684);
  --color-text-decorative-orange-weak: oklch(90.1% 0.076 70.697);
  --color-text-decorative-orange-medium: #fff;
  --color-text-decorative-orange-strong: #fff;
  --color-text-decorative-fuchsia-default: oklch(97.7% 0.017 320.058);
  --color-text-decorative-fuchsia-weak: oklch(90.3% 0.076 319.62);
  --color-text-decorative-fuchsia-medium: #fff;
  --color-text-decorative-fuchsia-strong: #fff;
  --color-text-decorative-purple-default: oklch(97.7% 0.014 308.299);
  --color-text-decorative-purple-weak: oklch(90.2% 0.063 306.703);
  --color-text-decorative-purple-medium: #fff;
  --color-text-decorative-purple-strong: #fff;
  --color-text-decorative-violet-default: oklch(96.9% 0.016 293.756);
  --color-text-decorative-violet-weak: oklch(89.4% 0.057 293.283);
  --color-text-decorative-violet-medium: #fff;
  --color-text-decorative-violet-strong: #fff;
  --color-text-decorative-indigo-default: oklch(96.2% 0.018 272.314);
  --color-text-decorative-indigo-weak: oklch(87% 0.065 274.039);
  --color-text-decorative-indigo-medium: #fff;
  --color-text-decorative-indigo-strong: #fff;
  --color-text-decorative-blue-default: oklch(97% 0.014 254.604);
  --color-text-decorative-blue-weak: oklch(88.2% 0.059 254.128);
  --color-text-decorative-blue-medium: #fff;
  --color-text-decorative-blue-strong: #fff;
  --color-text-decorative-light-blue-default: oklch(97.7% 0.013 236.62);
  --color-text-decorative-light-blue-weak: oklch(90.1% 0.058 230.902);
  --color-text-decorative-light-blue-medium: #fff;
  --color-text-decorative-light-blue-strong: #fff;
  --color-text-decorative-cyan-default: oklch(98.4% 0.019 200.873);
  --color-text-decorative-cyan-weak: oklch(91.7% 0.078 205.041);
  --color-text-decorative-cyan-medium: #fff;
  --color-text-decorative-cyan-strong: #fff;
  --color-text-decorative-teal-default: oklch(98.4% 0.014 180.72);
  --color-text-decorative-teal-weak: oklch(89.5% 0.079 180.857);
  --color-text-decorative-teal-medium: #fff;
  --color-text-decorative-teal-strong: #fff;
  --color-text-decorative-emerald-default: oklch(97.9% 0.021 166.113);
  --color-text-decorative-emerald-weak: oklch(90.5% 0.093 164.15);
  --color-text-decorative-emerald-medium: #fff;
  --color-text-decorative-emerald-strong: #fff;
  --color-text-decorative-green-default: oklch(98.2% 0.018 155.826);
  --color-text-decorative-green-weak: oklch(91.5% 0.087 145.308);
  --color-text-decorative-green-medium: #fff;
  --color-text-decorative-green-strong: #fff;
  --color-text-decorative-lime-default: oklch(98.6% 0.031 120.757);
  --color-text-decorative-lime-weak: oklch(93.8% 0.127 124.321);
  --color-text-decorative-lime-medium: #fff;
  --color-text-decorative-lime-strong: #fff;
  --color-text-decorative-cerise-default: oklch(97.1% 0.014 343.198);
  --color-text-decorative-cerise-weak: oklch(89.9% 0.061 343.231);
  --color-text-decorative-cerise-medium: #fff;
  --color-text-decorative-cerise-strong: #fff;
  --color-text-decorative-yellow-default: oklch(98.7% 0.026 102.212);
  --color-text-decorative-yellow-weak: oklch(94.5% 0.129 101.54);
  --color-text-decorative-yellow-medium: #fff;
  --color-text-decorative-yellow-strong: #fff;
  --color-text-decorative-zinc-default: oklch(98.5% 0 0);
  --color-text-decorative-zinc-weak: oklch(92% 0.004 286.32);
  --color-text-decorative-zinc-medium: #fff;
  --color-text-decorative-zinc-strong: #fff;
  --color-text-decorative-rose-default: oklch(96.9% 0.015 12.422);
  --color-text-decorative-rose-weak: oklch(89.2% 0.058 10.001);
  --color-text-decorative-rose-medium: #fff;
  --color-text-decorative-rose-strong: #fff;
  --color-text-decorative-red-default: oklch(97.1% 0.013 17.38);
  --color-text-decorative-red-weak: oklch(88.5% 0.062 18.334);
  --color-text-decorative-red-medium: #fff;
  --color-text-decorative-red-strong: #fff;
  --color-icon-neutral-default: oklch(76.8% 0.009 278.595);
  --color-icon-neutral-weak: oklch(55.2% 0.016 285.938);
  --color-icon-success-default: oklch(62.3% 0.201 142.939);
  --color-icon-success-strong: #fff;
  --color-icon-danger-default: oklch(57.7% 0.245 27.325);
  --color-icon-danger-strong: #fff;
  --color-icon-warning-default: oklch(66.6% 0.179 58.318);
  --color-icon-warning-strong: #fff;
  --color-icon-info-default: oklch(58.8% 0.158 241.966);
  --color-icon-info-strong: #fff;
  --color-icon-copilot-default: oklch(90.2% 0.063 306.703);
  --color-icon-copilot-weak: oklch(90.2% 0.063 306.703);
  --color-icon-copilot-medium: #fff;
  --color-icon-copilot-strong: #fff;
  --color-icon-decorative-amber-default: oklch(92.4% 0.12 95.746);
  --color-icon-decorative-amber-weak: oklch(92.4% 0.12 95.746);
  --color-icon-decorative-amber-medium: #fff;
  --color-icon-decorative-amber-strong: #fff;
  --color-icon-decorative-orange-default: oklch(90.1% 0.076 70.697);
  --color-icon-decorative-orange-weak: oklch(90.1% 0.076 70.697);
  --color-icon-decorative-orange-medium: #fff;
  --color-icon-decorative-orange-strong: #fff;
  --color-icon-decorative-fuchsia-default: oklch(90.3% 0.076 319.62);
  --color-icon-decorative-fuchsia-weak: oklch(90.3% 0.076 319.62);
  --color-icon-decorative-fuchsia-medium: #fff;
  --color-icon-decorative-fuchsia-strong: #fff;
  --color-icon-decorative-purple-default: oklch(90.2% 0.063 306.703);
  --color-icon-decorative-purple-weak: oklch(90.2% 0.063 306.703);
  --color-icon-decorative-purple-medium: #fff;
  --color-icon-decorative-purple-strong: #fff;
  --color-icon-decorative-violet-default: oklch(89.4% 0.057 293.283);
  --color-icon-decorative-violet-weak: oklch(89.4% 0.057 293.283);
  --color-icon-decorative-violet-medium: #fff;
  --color-icon-decorative-violet-strong: #fff;
  --color-icon-decorative-indigo-default: oklch(87% 0.065 274.039);
  --color-icon-decorative-indigo-weak: oklch(87% 0.065 274.039);
  --color-icon-decorative-indigo-medium: #fff;
  --color-icon-decorative-indigo-strong: #fff;
  --color-icon-decorative-blue-default: oklch(88.2% 0.059 254.128);
  --color-icon-decorative-blue-weak: oklch(88.2% 0.059 254.128);
  --color-icon-decorative-blue-medium: #fff;
  --color-icon-decorative-blue-strong: #fff;
  --color-icon-decorative-light-blue-default: oklch(90.1% 0.058 230.902);
  --color-icon-decorative-light-blue-weak: oklch(90.1% 0.058 230.902);
  --color-icon-decorative-light-blue-medium: #fff;
  --color-icon-decorative-light-blue-strong: #fff;
  --color-icon-decorative-cyan-default: oklch(91.7% 0.078 205.041);
  --color-icon-decorative-cyan-weak: oklch(91.7% 0.078 205.041);
  --color-icon-decorative-cyan-medium: #fff;
  --color-icon-decorative-cyan-strong: #fff;
  --color-icon-decorative-teal-default: oklch(89.5% 0.079 180.857);
  --color-icon-decorative-teal-weak: oklch(89.5% 0.079 180.857);
  --color-icon-decorative-teal-medium: #fff;
  --color-icon-decorative-teal-strong: #fff;
  --color-icon-decorative-emerald-default: oklch(90.5% 0.093 164.15);
  --color-icon-decorative-emerald-weak: oklch(90.5% 0.093 164.15);
  --color-icon-decorative-emerald-medium: #fff;
  --color-icon-decorative-emerald-strong: #fff;
  --color-icon-decorative-green-default: oklch(91.5% 0.087 145.308);
  --color-icon-decorative-green-weak: oklch(91.5% 0.087 145.308);
  --color-icon-decorative-green-medium: #fff;
  --color-icon-decorative-green-strong: #fff;
  --color-icon-decorative-lime-default: oklch(93.8% 0.127 124.321);
  --color-icon-decorative-lime-weak: oklch(93.8% 0.127 124.321);
  --color-icon-decorative-lime-medium: #fff;
  --color-icon-decorative-lime-strong: #fff;
  --color-icon-decorative-cerise-default: oklch(89.9% 0.061 343.231);
  --color-icon-decorative-cerise-weak: oklch(89.9% 0.061 343.231);
  --color-icon-decorative-cerise-medium: #fff;
  --color-icon-decorative-cerise-strong: #fff;
  --color-icon-decorative-yellow-default: oklch(94.5% 0.129 101.54);
  --color-icon-decorative-yellow-weak: oklch(94.5% 0.129 101.54);
  --color-icon-decorative-yellow-medium: #fff;
  --color-icon-decorative-yellow-strong: #fff;
  --color-icon-decorative-zinc-default: oklch(92% 0.004 286.32);
  --color-icon-decorative-zinc-weak: oklch(92% 0.004 286.32);
  --color-icon-decorative-zinc-medium: #fff;
  --color-icon-decorative-zinc-strong: #fff;
  --color-icon-decorative-rose-default: oklch(89.2% 0.058 10.001);
  --color-icon-decorative-rose-weak: oklch(89.2% 0.058 10.001);
  --color-icon-decorative-rose-medium: #fff;
  --color-icon-decorative-rose-strong: #fff;
  --color-icon-decorative-red-default: oklch(88.5% 0.062 18.334);
  --color-icon-decorative-red-weak: oklch(88.5% 0.062 18.334);
  --color-icon-decorative-red-medium: #fff;
  --color-icon-decorative-red-strong: #fff;
}